/* FONTS */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat-italic-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

.confirmed-panel {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Montserrat", Roboto, "Open Sans", "Segoe UI", sans-serif;
  margin-bottom: 44px;
  background-color: rgba(250,250,250,1);
  -webkit-font-smoothing: antialiased;
  padding-top: 67px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 44px; /* Set the fixed height of the footer here */
  line-height: 44px; /* Vertically center the text there */
}

.confirmed-blue {
  color: #3498db !important;
}

.confirmed-blue-bg {
  background-color: #3498db !important;
}

.confirmed-blue-border {
  border-color: #3498db !important;
}

.confirmed-blue-btn-lg {
  
  background-color: #3498db !important;
  color: white !important;
  font-weight: 400;
  padding: 10px 20px;
  line-height: 30px;
  font-size: 1.1rem !important;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.confirmed-blue-btn {
  background-color: #3498db !important;
  color: white;
  height: 40px;
  font-weight: 400;
  line-height: 30px;
  font-size: 13px !important;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.confirmed-gray-btn {
  background-color: #aaa !important;
  color: white;
  height: 40px;
  line-height: 30px;
  font-size: 13px !important;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.confirmed-red-btn {
  background-color: #e74c3c !important;
  color: white;
  height: 40px;
  line-height: 30px;
  font-size: 13px !important;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn.active {
  background-color: #3498db !important;
}

.plan-button {
  background-color: #aaa;
}

.confirmed-btn-shadow {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.input {
  font-size: 14px !important;
}

.form-control {
  font-size: 14px !important;
}

.locale-select {
  /* General styling */
  height: 26px !important;
  width: 170px !important;
  border-radius: 3px !important;
  padding-left: 10px !important;

  /* Removes the default <select> styling */
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;

  /* Positions background arrow image */
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
  background-repeat: no-repeat !important;
  background-position: 145px center !important;
  background-color: white !important;

  font-size: 12px !important;
  color: gray !important;
  font-weight: 500 !important;
  border: 1px solid #ddd !important;
}

/* Stripe */

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#pswd_info .invalid {
  font-size: 10px;
  color: red;
}

#email_info .invalid {
  font-size: 10px;
  color: red;
}

/* Home Page */

.regions {text-align: center;}

.regions .region {width: 110px; display: inline-block; margin: 0 5px; height: 40px; font-weight: 700; color: #ccc;}

blockquote{
  font-size: 1.1em;
  margin:20px auto;
  color: #555555;
  font-style: italic;
  padding:1.8em 20px 1.4em 50px;
  border-left:5px solid #3498db ;
  line-height:1.4;
  position: relative;
  background:#F3F3F3;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#3498db;
  font-size:4em;
  position: absolute;
  left: 7px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  font-style: normal;
  display:block;
  color:#333333;
  font-size: 0.8em;
  font-weight: bold;
  margin-top:0.5em;
}

/* Openly Operated Page */

.cardTable td {
  padding: 10px;
}

.cardTable tr {
  border-bottom: 1px solid rgba(52,152,219, 0.4);
}
