{{#if flash.error}}
  <div class="alert alert-danger" role="alert" style="margin-left:auto; margin-right: auto;">
    {{{ flash.error }}}
    <div style="font-size: 13px;">
      If this error persists, please <a href="mailto:team@{{DOMAIN}}">email us</a>.
    </div>
  </div>
{{/if}}

{{#if flash.info}}
  <div class="alert alert-info" role="alert" style="margin-left:auto; margin-right: auto;">
    {{ flash.info }}
  </div>
{{/if}}

{{#if flash.success}}
  <div class="alert alert-success" role="alert" style="margin-left:auto; margin-right: auto;">
    {{ flash.success }}
  </div>
{{/if}}