<footer class="footer">
  <div class="container-fluid text-right text-muted pt-4">
    <a style="font-size: 13px;" class="pr-2 pull-left" href="https://{{DOMAIN}}/privacy" target="_blank" >Privacy Policy</a>
    <a style="font-size: 13px;" class="pr-2 pull-left" href="https://{{DOMAIN}}/terms" target="_blank">Terms</a>
    <a href="https://openlyoperated.org/report/confirmedvpn" target="_blank" style="text-decoration: none !important" class="mx-2 mb-1 pull-right">
      <img src="https://shared-cmsbucket-a1w1o8ixeyd9.s3.amazonaws.com/badge-medium-3.png" style="max-width: 150px; margin-top: 0px;">
    </a>
    <span class="text-muted pull-left" style="font-size: 13px;">&copy; 2020 Confirmed, Inc.</span>
  </div>
</footer>