<footer class="footer">
  <div class="container-fluid text-right text-muted pt-4">
    <a style="font-size: 13px;" class="pr-2" href="https://{{DOMAIN}}/privacy" target="_blank" >Privacy Policy</a> <a style="font-size: 13px;" class="pr-2" href="https://{{DOMAIN}}/terms" target="_blank">Terms</a> <span class="text-muted" style="font-size: 13px;">&copy; 2019 Confirmed, Inc.</span>
  </div>
</footer>