<footer class="footer">
  <div class="container text-left text-muted">
    <span class="text-muted" style="font-size: 13px;">&copy; 2018 Confirmed, Inc.</span> | <a style="font-size: 13px;" class="text-muted" href="https://{{DOMAIN}}/privacy.html" target="_blank">Privacy Policy</a> | <a style="font-size: 13px;" class="text-muted" href="https://{{DOMAIN}}/terms.html" target="_blank">Terms</a>
  </div>
</footer>