<head>
  <title>{{title}}</title>
  
	<meta charset="utf-8">

  {{#if secureurl}}
  <meta name="referrer" content="no-referrer">
  <meta name="referrer" content="never">
  {{/if}}
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Confirmed is the world's first no-logs, fully audited, and Openly Operated VPN that protects your data against against hackers, snoopers, and even your ISP.">
  <meta name="author" content="Confirmed Inc.">

	<meta property="og:type" content="product">
	<meta property="og:title" content="Confirmed VPN: Secure, Private Internet">
	<meta property="og:description" content="Confirmed is the world's first no-logs, fully audited, and Openly Operated VPN that protects your data against against hackers, snoopers, and even your ISP.">
	<meta property="og:url" content="https://confirmedvpn.com">
  <meta property="og:image" content="https://confirmedvpn.com/images/preview.jpg">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/confirmed.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/device-mockups.min.css">

  <!-- Load Stripe library on every page for improved fraud detection -->
  {{#if secureurl}}
  <!-- Don't load Stripe to be extra safe on secureurl (reset-password) -->
  {{else}}
  <script src="https://js.stripe.com/v3/"></script>
  {{/if}}
  
</head>