<div class="container mt-2">
  <div class="row text-center">
    <div class="col-lg-10 offset-lg-1">
      <a href="/privacy" class="pl-3 pr-3 pull-left">Privacy Policy</a>
      <a href="/terms" class="pl-3 pr-3 pull-left">Terms</a>
      <a href="https://openlyoperated.org/report/confirmedvpn" target="_blank" style="text-decoration: none !important" class="mx-2 mb-1  pull-right">
        <img src="https://shared-cmsbucket-a1w1o8ixeyd9.s3.amazonaws.com/badge-medium-3.png" style="max-width: 200px; margin-top: -7px;">
      </a>
    </div>
    <div class="col-12">
      <p class="text-secondary" style="font-size:10px; margin-top: 15px;">© 2021 Confirmed, Inc. All rights reserved.</p>
    </div>
  </div>
  <div>
</div>