<div class="container mt-2">
  <div class="row text-center">
    <div class="col-12">
      <a href="/privacy" class="pl-3 pr-3">Privacy Policy</a>
      <a href="/terms" class="pl-3 pr-3">Terms</a>
    </div>
    <div class="col-12">
      <p class="text-secondary" style="font-size:10px; margin-top: 15px;">© 2019 Confirmed, Inc. All rights reserved.</p>
    </div>
  </div>
  <div>
</div>