<nav class="navbar fixed-top border-bottom navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/">
    {{#if lockdown}}
    <img src="https://lockdownprivacy.com/images/logo.png" height="40" alt="Lockdown Logo">
    {{else}}
    <img src="/images/logo.png" height="40" alt="Confirmed VPN Logo">
    {{/if}}
  </a>
  {{#if lockdown}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://lockdownprivacy.com">Home</a>
      </li>
    </ul>
    <a class="btn btn-outline-primary" href="https://lockdownprivacy.com">Home</a>
  </div>
  {{else}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about-us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/openly-operated">Openly Operated</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/why-vpn">Why VPN?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/support">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
    <a class="btn btn-outline-primary" href="/signin">Account</a>
  </div>
  {{/if}}
</nav>