{{> header title="About Us" }}
  
<body class="text-center" style="background-color:white;">
  
  {{> nav-loggedout }}
  
  <div class="container">
    
    <div class="row mt-5">
      
      <div class="col-12 mb-5">
        <h1 class="mt-3"><strong>About Us</strong></h1>
      </div>
      
      <div class="col-lg-10 offset-lg-1 mt-0">
        <h3 class="mt-2" style="color: #ccc; font-weight: 600;">Mission</h3>
        <p class="mt-2 mb-2" style="text-align: left; font-size: 18px; font-weight: 500; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
          Our mission is to increase user trust in the apps and services they use every day. People shouldn't have to be in the dark about what's happening with their personal data. We believe that complete transparency through being Openly Operated&#8482; is the future, and that once people experience this level of trust and assurance, they'll never want to go back to black box apps again.
        </p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 mt-3">
        <h3 class="mt-4" style="color: #ccc; font-weight: 600;">Origin</h3>
        <p class="mt-2 mb-2" style="text-align: left; font-size: 18px; font-weight: 500; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
          A year ago in 2017, we discovered that app stores were rife with abusive and scammy apps, and wrote an <a href="https://medium.com/@johnnylin/how-to-make-80-000-per-month-on-the-apple-app-store-bdb943862e88" target="_blank">investigative piece</a> on Medium which went viral, reaching over 500,000 people. From there, we realized that even though all of these abusive apps had privacy policies (that they copy-pasted), the policies were basically useless, because there was no way for anyone to verify what they were <i>actually doing</i> with user data. Even if App Store reviewers wanted to confirm whether or not the apps were abiding by their Privacy Policy, they couldn't. There was no standard, and no procedure for verifying that an app was being honest.<br/><br/>
          We thought it was ridiculous that in terms of trusting apps online with their data, everyone was basically just <i>hoping for the best</i>. Outside of prayer, everyone was relying on things like how professional a company's website looks, or a privacy policy, or even price &#8212; all of which can be easily faked or copied.<br/><br/>
          Since no standard existed, we set out to create one, so people would be able to reliably see which apps and services they could trust. This is how we came up with the concept of services that are <a href="/openly-operated">Openly Operated&#8482;</a>, a seven point standard that creates <strong>trust through transparency</strong>. One year later, we're proving that this concept works by releasing the world's first Openly Operated&#8482; service: Confirmed VPN.<br/>
        </p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 mt-4">
        <h3 class="mt-4 mb-4" style="color: #ccc; font-weight: 600;"><strong>Team</strong></h3>
      </div>
      
      <div class="col-lg-5 offset-lg-1 text-center mt-0 mb-5">
        <img src="/images/johnny.jpg" style="width:100%; max-width: 200px; border-radius: 100px;">
        <h5 class="mt-3"><strong>Johnny Lin</strong></h5>
        <h5>Co-Founder & CTO</h4>
        <p class="text-left" style="line-height: 1.7">
          Johnny built and works on Confirmed VPN's many Openly Operated&#8482; backend services. He was an engineer at Apple iCloud and since then has built several apps featured by the App Store. Johnny will out-pun you and is an alumni of Brown University.
        </p>
        <a href="mailto:johnny@confirmedvpn.com">johnny@confirmedvpn.com</a>
      </div>
      
      <div class="col-lg-5 text-center mt-0">
        <img src="/images/rahul.jpg" style="width:100%; max-width: 200px; border-radius: 100px;">
        <h5 class="mt-3"><strong>Rahul Dewan</strong></h5>
        <h5>Co-Founder & CEO</h4>
        <p class="text-left" style="line-height: 1.7;">
          Rahul built and works on Confirmed VPN's many clients, and also handles business development. He also created <a href="https://duetdisplay.com" target="_blank">Duet Display</a>, a second screen for your iPad, and has previously worked at Apple. He is an alumni of Stanford University and Georgia Tech.
        </p>
        <a href="mailto:rahul@confirmedvpn.com">rahul@confirmedvpn.com</a>
      </div>
      
      <div class="col-12 mt-5 mb-3">
        <h3 class="mt-1"><strong>We're Hiring!</strong></h3>
        <p>Want to be featured on our About Us page?<br/>Send a short blurb about yourself to <a href="mailto:work@confirmedvpn.com">work@confirmedvpn.com</a>.</p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 col-12 text-center mt-5 mb-5 pb-5">
        <h1 class="mt-5"><strong>Start a free 1 week trial.</strong></h1>
        <h5 class="text-secondary pt-2" style="line-height: 1.6">Try the only <a href="/openly-operated" style="color: #3498db; font-weight: 700; white-space: nowrap;">Openly Operated&#8482;</a> way to browse securely and privately.</h5>
        <p class="mt-5 mb-1" style="color: #ddd; font-weight: 700; font-size: 14px;"><strong>DOWNLOAD</strong></p>
        <span class="d-inline-block">
          <a href="/download-mac-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-apple mr-1"></i> Mac
          </a>
          <a href="https://itunes.apple.com/us/app/confirmed-vpn/id1286896061?mt=8&uo=6&at=11l32tU&ct=confirmed_vpn" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-apple mr-1"></i> iOS
          </a>
        </span>
        <span class="d-inline-block">
          <a href="/download-windows-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-windows mr-1"></i> PC
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.confirmed.tunnels" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-android mr-1"></i> Android
          </a>
        </span>
      </div>
      
    </div>
    
  </div>
  
  {{> homepagefooter }}
  
</body>

{{> bootstrapjs}}