{{> header title="Lockdown Notification" }}

<body class="text-center">
  
  {{> nav-loggedout lockdown=true }}
  
  <div class="container mt-5">
    <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-left">
      
      <div class="alert alert-success" role="alert" style="margin-left:auto; margin-right: auto;">
        Email confirmed successfully. On your mobile device, tap below to return to Lockdown.
      </div>
      
      <div class="container-fluid p-0 mt-1 confirmed-bg">
        <a href="lockdown://emailconfirmed" id="backButton" class="btn confirmed-blue-btn btn-sm text-white btn-block mt-2" target="_blank"><strong>Open Lockdown</strong></a>
        
      </div>
    </div>
  </div>
  
  {{> footer}}

  {{> bootstrapjs}}
  
</body>

