{{> header title="Contact" }}
  
<body class="text-center" style="background-color:white;">
  
  {{> nav-loggedout }}
  
  <div class="container">
    
    <div class="row mt-5">
      
      <div class="col-12 mb-4">
        <h1 class="mt-3"><strong>Contact</strong></h1>
      </div>
      
      <div class="col-lg-10 offset-lg-1 mb-5 pb-0 pt-4 text-left">
        <p>
          All customer support inquiries should be sent to the Support Email. We also available on Twitter for general questions, answers, and feedback, but please do not post any of your personal or account information.
        </p>
        <div class="text-center pt-2">
          <p>
            <a href="mailto:team@{{DOMAIN}}?subject=Confirmed VPN%20Feedback&amp;body=Hi%20Confirmed Team,%0a%0a%0a" class="btn btn-primary btn-lg" style="width: 200px;">Email Support</a>
          </p>
          <p>
            <a href="https://twitter.com/confirmedvpn" class="btn btn-primary btn-lg" style="width: 200px;">Twitter</a>
          </p>
        </div>
      </div>
      
    </div>
    
  </div>
  
  {{> homepagefooter }}
  
</body>

{{> bootstrapjs}}