{{> header title="Contact" }}
  
<body class="text-center" style="background-color:white;">
  
  {{> nav-loggedout }}
  
  <div class="container">
    
    <div class="row mt-5">
      
      <div class="col-12 mb-4">
        <h1 class="mt-3"><strong>Contact</strong></h1>
      </div>
      
      <div class="col-lg-10 offset-lg-1 mb-5 pb-0 pt-4 text-left">
        <p>
          All customer support inquiries should be sent to the Support Email. We also available on Telegram, Reddit, or Twitter for general questions, answers, and feedback, but please do not post any of your personal or account information on those communities.
        </p>
        <div class="text-center pt-2">
          <p>
            <a href="mailto:team@{{DOMAIN}}?subject=Confirmed VPN%20Feedback&amp;body=Hi%20Confirmed Team,%0a%0a%0a" class="btn btn-primary btn-lg">Email Support</a>
          </p>
        </div>
        <h4 class="pb-1 pt-4">Other Contact/Community</h4>
        <table class="serif mb-5 pb-5">
          <tr>
            <td class="text-right align-top text-nowrap"><em class="small text-secondary mr-2">Telegram</em></td>
            <td><a href="https://t.me/confirmedvpn">t.me/confirmedvpn</a></td>
          </tr>
          <tr>
            <td class="text-right align-top text-nowrap"><em class="small text-secondary mr-2">Reddit</em></td>
            <td><a href="https://www.reddit.com/r/confirmedvpn">/r/confirmedvpn</a></td>
          </tr>
            <td class="text-right align-top text-nowrap"><em class="small text-secondary mr-2">Twitter</em></td>
            <td><a href="https://twitter.com/confirmedvpn">@confirmedvpn</a></td>
          </tr>
        </table>
      </div>
      
    </div>
    
  </div>
  
  {{> homepagefooter }}
  
</body>

{{> bootstrapjs}}