{{> header title="Forgot Password" }}

<body class="text-center">
  
  {{> nav-loggedout }}
  
  <div class="container mt-4">
    <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-left">
      
      <h1 class="h6 text-center mt-5">Forgot Password</h1>
      
      {{> flash }}

      <div class="container-fluid p-3 mt-3 confirmed-panel">
        <form action="/forgot-password" method="POST">
          <input type="email" id="email" name="email" class="form-control mb-1 mt-2" placeholder="Email address" required autofocus>
          <button id="sendResetEmailButton" type="submit" class="btn confirmed-blue-btn btn-sm text-white btn-block mt-3">Send Reset Email</button>
        </form>
      </div>
      
      <div class="container-fluid p-3 mt-3 confirmed-bg text-center">
        <a href="/signin" class="btn confirmed-gray-btn btn-sm text-white btn-block">Back to Sign In</a>
      </div>
      
    </div>
  </div>
  
  {{> footer}}

  {{> bootstrapjs}}
  
</body>
