{{> header title="Confirmed VPN" }}
  
<body class="text-center" style="background-color:white;">
  
  {{> nav-loggedout }}
  
  <div class="container">
    
    <div class="row mt-5">
      <div class="col-12">
        <h1 class="mt-3"><strong>Finally, a VPN you can trust.</strong></h1>
        <h4 class="mt-4 mb-3" style="line-height:1.6; color: #8f8f8f;">
          <span class="d-inline-block">The world's first fully audited and <a href="/openly-operated" class="confirmed-blue text-nowrap"><strong>Openly Operated&#8482;</strong></a> VPN.</span>
          <span class="d-inline-block"> Bulletproof your browsing and data against hackers, snoopers, and your ISP.</span>
        </h4>
        <p class="mt-5 mb-1" style="color: #ddd; font-weight: 700; font-size: 14px;"><strong>GET STARTED FREE</strong></p>
        <span class="d-inline-block">
          <a href="/download-mac-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-apple mr-1"></i> Mac
          </a>
          <a href="https://itunes.apple.com/us/app/confirmed-vpn/id1286896061?mt=8&uo=6&at=11l32tU&ct=confirmed_vpn" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-apple mr-1"></i> iOS
          </a>
        </span>
        <span class="d-inline-block">
          <a href="/download-windows-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-windows mr-1"></i> PC
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.confirmed.tunnels" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-android mr-1"></i> Android
          </a>
        </span>
      </div>
    </div>
    
  </div>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 d-none d-lg-block">
        <div class="device-wrapper" style="margin-left: 3%; max-width: 80%; float:left;">
          <div class="device" data-device="Macbook" data-orientation="portrait" data-color="gold">
            <div class="screen">
              <img src="images/mac-screenshot.jpg" style="max-width: 100%;">
            </div>
          </div>
        </div>
        <div class="device-wrapper mt-3" style="max-width: 230px; margin-left: -14%; float:left;">
          <div class="device" data-device="iPhone7" data-orientation="portrait" data-color="black">
            <div class="screen">
              <img src="images/iphone-screenshot.jpg" style="max-width: 100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-lg-none">
        <div class="device-wrapper" style="margin-left: auto; margin-right: auto;">
          <div class="device" data-device="iPhone7" data-orientation="portrait" data-color="black">
            <div class="screen">
              <img src="images/iphone-screenshot.jpg" style="max-width: 100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid mt-5 pt-4 pb-3" style="background-color: #f4f4f4;">
    <div class="container pt-5 pb-3">
      <div class="row text-left">
        <div class="col-md-6 pb-2">
          <img src="images/tc.png" style="max-width: 175px;">
          <p class="mt-3 font-italic mb-2">"Confirmed VPN wants to bring transparency to the VPN industry"</p>
          <p class="text-right" style="font-size: 0.8rem">- TechCrunch, December 12th, 2018</p>
        </div>
        <div class="col-md-6 pb-2">
            <img src="images/9to5mac.png" style="max-width: 175px;">
            <p class="mt-3 font-italic mb-2">"Confirmed VPN update makes it the first open service with third-party audits, open source code, more"</p>
            <p class="text-right" style="font-size: 0.8rem">- 9to5Mac, December 12th, 2018</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4 text-center">
        <img src="/images/glasses-blue.png" class="d-block mr-auto ml-auto" style="padding: 8px; width: 64px; height: 64px; background-color: #D7F9FF; border-radius: 32px;">
        <h5 class="mt-3"><strong>Openly Operated&#8482;</strong></h5>
        <p class="text-secondary">Confirmed is the only VPN that can <strong>prove</strong> we don't log or sell data to third parties.<br/><a href="/openly-operated" class="confirmed-blue"><strong>Learn More</strong></a></p>
      </div>
      <div class="col-lg-4">
        <div class="d-block mr-auto ml-auto" style="background-color: #D7F9FF; width: 64px; height: 64px; border-radius: 32px;">
          <svg style="fill: #3498db; width: 25px; margin-top: 20px;" viewBox="0 0 21 23" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0v11c0 4.625 5.438 12 10.5 12C15.563 23 21 15.625 21 11V0H0zm10.5 20C6.95 20 3 14.934 3 11.5v-8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H4v7.5c0 2.894 3.55 7.5 6.5 7.5a.5.5 0 1 1 0 1z"></path>
          </svg>
        </div>
        <h5 class="mt-3"><strong>Hide Location &amp; IP</strong></h5>
        <p class="text-secondary">Stop apps and websites you visit from selling your location data or your uniquely identifiable IP address.</p>
      </div>
      <div class="col-lg-4">
        <div class="d-block mr-auto ml-auto" style="background-color: #D7F9FF; width: 64px; height: 64px; border-radius: 32px;">
          <i class="fa fa-lock confirmed-blue" style="font-size: 32px; margin-top: 15px;"></i>
        </div>
        <h5 class="mt-3"><strong>Security & Privacy</strong></h5>
        <p class="text-secondary">State-of-the-art encryption keeps your activity and data private when you're on insecure websites or shared wifi/hotspots.</p>
      </div>
    </div>
  </div>
  
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <h1><strong>Why Confirmed VPN?</strong></h1>
        <ul class="text-left mt-4 pt-2 list-unstyled">
          <li class="p-3 pt-4" style="border-bottom: 1px solid #e8e8e8;">
            <i class="fa fa-check confirmed-blue mt-1" style="font-size: 17px; float:right;"></i>
            <h4 class="ml-1 pr-3">
              Openly Operated&#8482;: Trust Through Transparency
            </h4>
            <ul class="text-left list-unstyled mt-0">
              <li class="ml-5 pt-2">
                <h5>
                  &#8226; <a href="/openly-operated" class="confirmed-blue"><strong>See Proof</strong></a> Of Our Privacy Policy
                </h5>
              </li>
              <li class="ml-5 pt-2">
                <h5>
                  &#8226; Open Source & Open Infrastructure
                </h5>
              </li>
              <li class="ml-5 pt-2">
                <h5>
                  &#8226; Fully Audited By Privacy Experts
                </h5>
              </li>
            </ul>
          </li>
          <li class="p-3 pt-4" style="border-bottom: 1px solid #e8e8e8;">
            <i class="fa fa-check confirmed-blue mt-1" style="font-size: 17px; float:right;"></i>
            <h4 class="ml-1 pr-3">
              Ridiculously Fast: Up to 300mbps Download
            </h4>
          </li>
          <li class="p-3 pt-4">
            <i class="fa fa-check confirmed-blue mt-1" style="font-size: 17px; float:right;"></i>
            <h4 class="ml-1 pr-3">
              Anonymize Through 12 Regions (More Soon)
            </h4>
            <div class="regions pt-3" style="max-width: 550px; margin-left:auto; margin-right: auto;">
                <div class="region">
                    <div class="caption">US West</div>
                </div>
                <div class="region">
                    <div class="caption">US East</div>
                </div>
                <div class="region">
                    <div class="caption">UK</div>
                </div>
                <div class="region">
                    <div class="caption">Ireland</div>
                </div>
                <div class="region">
                    <div class="caption">Germany</div>
                </div>
                <div class="region">
                    <div class="caption">Canada</div>
                </div>
                <div class="region">
                    <div class="caption">Japan</div>
                </div>
                <div class="region">
                    <div class="caption">Australia</div>
                </div>
                <div class="region">
                    <div class="caption">South Korea</div>
                </div>
                <div class="region">
                    <div class="caption">Singapore</div>
                </div>
                <div class="region">
                    <div class="caption">India</div>
                </div>
                <div class="region">
                    <div class="caption">Brazil</div>
                </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container mt-5 pt-4">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <h1><strong>Other Sketchy VPNs</strong></h1>
        <ul class="text-left mt-4 pt-2 list-unstyled">
          <li class="p-3 pt-4" style="border-bottom: 1px solid #e8e8e8;">
            <i class="fa fa-times text-danger mt-1" style="font-size: 18px; float:right;"></i>
            <h4 class="ml-1 pr-3">
              Log And Sell User Data To Third Parties
            </h4>
          </li>
          <li class="p-3 pt-4" style="border-bottom: 1px solid #e8e8e8;">
            <i class="fa fa-times text-danger mt-1" style="font-size: 18px; float:right;"></i>
            <h4 class="ml-1 pr-3">
              Inject Advertisements In Web Pages
            </h4>
          </li>
          <li class="p-3 pt-4" style="border-bottom: 1px solid #e8e8e8;">
            <i class="fa fa-times text-danger mt-1" style="font-size: 18px; float:right;"></i>
            <h4 class="ml-1 pr-3">
              Closed, Black Box Operation
            </h4>
          </li>
          <li class="p-3 pt-4" style="border-bottom: 1px solid #e8e8e8;">
            <i class="fa fa-times text-danger mt-1" style="font-size: 18px; float:right;"></i>
            <h4 class="ml-1 pr-3">
              Lie On Their Terms and Privacy Policy
            </h4>
          </li>
          <li class="p-3 pt-4">
            <i class="fa fa-times text-danger mt-1" style="font-size: 18px; float:right;"></i>
            <h4 class="ml-1 pr-3">
              No Audits, Partial Audits, or Incomplete Audits
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container mt-5 pt-4">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-12 text-left pb-3" style="border-bottom: 1px solid #e8e8e8;">
        <h4><strong>How is Confirmed better than other VPNs?</strong></h4>
        <h5 class="text-secondary" style="line-height: 1.6">
          In recent years, some VPN services have started selling their customers' data and browsing activity directly to marketers and other third parties, just to make a quick buck off their unsuspecting users. (If you're using a deeply discounted or free VPN, you're likely one of these users.)
          <br><br>
          Confirmed VPN doesn't log your browsing activity, nor do we do third-party sharing of your private data. And unlike other VPNs, we can prove our Privacy Policy through being <a href="/openly-operated" style="color: #3498db; font-weight: 700; white-space: nowrap;">Openly Operated&#8482;</a>. Every aspect of our service is 100% transparent to you, auditors, and security and privacy experts, so that you're guaranteed we stick by our strict Privacy Policy.
        </h5>
      </div>
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-12 text-left pb-3 pt-4">
        <h4><strong>Commitment To Security And Privacy Audits</strong></h4>
        <h5 class="text-secondary" style="line-height: 1.6">
          In addition to earning user trust by being the only Openly Operated&#8482; VPN, Confirmed is fully audited and is committed to frequent new audits:<br/>
          <blockquote>
            <p class="mb-0" style="font-size: 1.15rem">
              Confirmed and its auditors can assert that no user data is viewed by, sold to, or shared with third parties.
              <span>Factor13 LLC, December 6th, 2018</span>
              <a target="_blank" href="https://s3.amazonaws.com/confirmed-audits/factor13.pdf" style="font-style: normal; font-weight: 700; color: #3498db; font-size: 12px;">View Full Report</a>
            </p>
          </blockquote>
          <blockquote>
            <p class="mb-0" style="font-size: 1.15rem">
              The review found no evidence of third-party data sharing or logging of data from internet traffic.
              <span>Security Consultant Ryan Koven, November 21st, 2018</span>
              <a target="_blank" href="https://s3.amazonaws.com/confirmed-audits/rkoven.pdf" style="font-style: normal; font-weight: 700; color: #3498db; font-size: 12px;">View Full Report</a>
            </p>
          </blockquote>
        </h5>
      </div>
    </div>
  </div>
  
  <div class="container mt-5 pt-4">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-12 text-center">
        <h1><strong>Simple Pricing</strong></h1>
        <h5 class="text-secondary pt-2">Secure your devices for a small fraction of your internet and cellular bills.</h5>
      </div>
    </div>
    <div class="row mt-5 pl-5 pr-5">
      <div class="col-lg-4 col-12 text-left mb-4">
        <h4><strong>iOS/Android Only</strong></h4>
        <h1><strong>{{half}}</strong><span class="text-secondary" style="font-size: 20px; padding-left: 5px;">Monthly</span></h1>
        <ul class="text-left mt-3 pt-2 list-unstyled fa-ul">
          <li class="pb-1">
            <i class="fa fa-li fa-check confirmed-blue" style="font-size: 17px;"></i>
            <p class="ml-1 text-secondary">
              iPhone/iPad or Android
            </p>
          </li>
          <li class="pb-1">
            <i class="fa fa-li fa-check confirmed-blue" style="font-size: 17px;"></i>
            <p class="ml-1 text-secondary">
              Taxes + Fees Included
            </p>
          </li>
          <li class="pb-1">
            <i class="fa fa-li fa-check confirmed-blue" style="font-size: 17px;"></i>
            <p class="ml-1 text-secondary">
              3 Simultaneous Clients
            </p>
          </li>
          <li>
            <i class="fa fa-li fa-check confirmed-blue" style="font-size: 17px;"></i>
            <p class="ml-1 text-secondary">
              7 Day Free Trial
            </p>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-12 text-left mb-4">
        <h4><strong>Pro - All Platforms</strong></h4>
        <h1><strong>{{month}}</strong><span class="text-secondary" style="font-size: 20px; padding-left: 5px;">Monthly</span></h1>
        <ul class="text-left mt-3 pt-2 list-unstyled fa-ul">
          <li class="pb-1">
            <i class="fa fa-li fa-check confirmed-blue" style="font-size: 17px;"></i>
            <p class="ml-1 text-secondary">
              Mac, PC, iOS, Android
            </p>
          </li>
          <li class="pb-1">
            <i class="fa fa-li fa-check confirmed-blue" style="font-size: 17px;"></i>
            <p class="ml-1 text-secondary">
              Taxes + Fees Included
            </p>
          </li>
          <li class="pb-1">
            <i class="fa fa-li fa-check confirmed-blue" style="font-size: 17px;"></i>
            <p class="ml-1 text-secondary">
              5 Simultaneous Clients
            </p>
          </li>
          <li>
            <i class="fa fa-li fa-check confirmed-blue" style="font-size: 17px;"></i>
            <p class="ml-1 text-secondary">
              7 Day Free Trial
            </p>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-12 text-left mb-4">
        <h4><strong>Pro Yearly - Save 15%</strong></h4>
        <h1><strong>{{annualmonth}}</strong><span class="text-secondary" style="font-size: 20px; padding-left: 5px;">/Month</span></h1>
        <ul class="text-left mt-3 pt-2 list-unstyled fa-ul">
          <li class="pb-1">
            <i class="fa fa-li fa-check confirmed-blue" style="font-size: 17px;"></i>
            <p class="ml-1 text-secondary">
              Mac, PC, iOS, Android
            </p>
          </li>
          <li class="pb-1">
            <i class="fa fa-li fa-check confirmed-blue" style="font-size: 17px;"></i>
            <p class="ml-1 text-secondary">
              Taxes + Fees Included
            </p>
          </li>
          <li class="pb-1">
            <i class="fa fa-li fa-check confirmed-blue" style="font-size: 17px;"></i>
            <p class="ml-1 text-secondary">
              5 Simultaneous Clients
            </p>
          </li>
          <li>
            <i class="fa fa-li fa-check confirmed-blue" style="font-size: 17px;"></i>
            <p class="ml-1 text-secondary">
              7 Day Free Trial
            </p>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="container mt-2 pt-5">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 col-12 text-center mt-5 mb-5 pb-5">
          <h1><strong>Start a free 1 week trial.</strong></h1>
          <h5 class="text-secondary pt-2" style="line-height: 1.6">Try the most trusted and the only <a href="/openly-operated" style="color: #3498db; font-weight: 700; white-space: nowrap;">Openly Operated&#8482;</a> way to browse securely and privately.</h5>
          <p class="mt-5 mb-1" style="color: #ddd; font-weight: 700; font-size: 14px;"><strong>DOWNLOAD</strong></p>
          <span class="d-inline-block">
            <a href="/download-mac-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
              <i class="fa fa-apple mr-1"></i> Mac
            </a>
            <a href="https://itunes.apple.com/us/app/confirmed-vpn/id1286896061?mt=8&uo=6&at=11l32tU&ct=confirmed_vpn" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
              <i class="fa fa-apple mr-1"></i> iOS
            </a>
          </span>
          <span class="d-inline-block">
            <a href="/download-windows-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
              <i class="fa fa-windows mr-1"></i> PC
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.confirmed.tunnels" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
              <i class="fa fa-android mr-1"></i> Android
            </a>
          </span>
        </div>
      </div>
    </div>
    
  </div>
  
  {{> homepagefooter }}

</body>

{{> bootstrapjs}}