{{> header title="Openly Operated" }}
  
<body class="text-center" style="background-color:white;">
  
  {{> nav-loggedout }}
  
  <div class="container">
    
    <div class="row mt-4 text-left">
      
      
      <div class="col-12 mb-4 mt-4 text-center">
        <h2 class="mt-2"><strong>What is Openly Operated?</strong></h2>
        <h4 class="mt-2 mb-2">
          Trust Through Transparency
        </h4>
      </div>
      
      <div class="col-lg-10 offset-lg-1">
        <h4 class="mt-4">The Transparency Certification For Apps</h4>
        <p class="mt-2">
          <a href="https://openlyoperated.org" target="_blank">Openly Operated</a> is a certification given to apps that operate with full transparency. To receive it, the app goes through the <a href="https://openlyoperated.org/how-to" target="_blank">certification process</a> and provides public proof of its privacy and security claims, as well as its comprehensive audit results. Openly Operated enables a level of trust not possible with today's typical black box app, where users have no idea what's really happening with their data.</p>
          <p>Instead of just publishing a Privacy Policy, Openly Operated apps are able to prove their privacy claims with their public Audit Kit and Audit Reports. This page describes Openly Operated in the context of VPNs, and we encourage you to further learn about the <a href="https://openlyoperated.org" target="_blank">Openly Operated certification</a> and how it provides the verifiable transparency that products desperately need today.
        </p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 pt-5">
        <h4>Apps Today Are Black Boxes With No Accountability</h4>
        
        <p class="mt-2 mb-3">
          Ever wonder why VPNs are so often "85% off!" or even completely free? It's because they're selling your data and metadata to brokers and third parties. And since you send all your data through the VPN, the VPN company has access to pretty much everything you do. And their Privacy Policy doesn't help, because they simply lie on it since there's no real enforcement of Privacy Policies, especially for companies that are headquartered offshore, outside of any consumer protection laws. Apps today have no transparency, so using a typical VPN can be quite dangerous:
        </p>
        <div class="text-center">
          <img src="images/non-oo.jpg" style="width: 100%; max-width: 800px;"/>
        </div>
      </div>
      
      <div class="col-lg-10 offset-lg-1 pt-5">
        <h4>Openly Operated Creates Trust Through Transparency</h4>
        
        <p class="mt-2 mb-3">
          Openly Operated requires companies to be completely transparent through five major requirements: Open Source, Open Infrastructure, Identify Operation, Establish Provenance, and Audit Trail. These requirements are fulfilled by the company and packaged into a public Audit Kit, and then independent Auditors verify each part of the Audit Kit and publish Audit Reports detailing their findings.</p>
        <p>By completing the certification process, companies have to not only open source all code, but also open up all operational aspects of their service, leaving no room for the service to hide software that might be selling your data to third parties, or improperly protecting data from company employees and other threats. See the difference:
        </p>
        <div class="text-center">
          <img src="images/oo.jpg" style="width: 100%; max-width: 730px;"/>
        </div>
      </div>
           
      <div class="col-lg-10 offset-lg-1 pt-5">
        <h4>The First Openly Operated VPN</h4>
        
        <p class="mt-2 mb-2">
          When we came up with Openly Operated standards, we wanted to prove that it could work by building a real product. We picked the industry most vulnerable to abuse of customer data: VPNs. When you activate a VPN, all your data and browsing passes through it, so it's <a href="/why-vpn">especially important</a> that you can trust your VPN.<br/><br/>
          Confirmed VPN's public Audit Kit and Audit Reports are available below. Whether you're a user, a developer interested in earning user trust, a security or privacy professional, or just plain curious, we hope you have a chance to read about how the Openly Operated certification works and help spread the word about the need for companies to provide users trust through full, verifiable transparency.
        </p>
        
        <div class="text-center pt-3">
          <a href="https://openlyoperated.org/report/confirmedvpn" target="_blank" class="btn confirmed-blue-btn-lg m-1">
            Confirmed VPN Audit Kit & Reports
          </a>
          <br/>
          <div class="small mt-1">Powered by Openly Operated</div>
        </div>
      </div>
      
      <div class="col-lg-10 offset-lg-1 pt-5">
        <h3 class="mt-0">Our Mission</h3>
        <p class="mt-2 mb-2">
          At Confirmed, our mission is to increase user trust in the web services and apps that they use every day. People shouldn't have to be in the dark about what's happening with their personal data. We believe that complete transparency through being Openly Operated is the future, and that once people experience this level of trust and assurance, they'll never want to go back to black box apps again. Learn more <a href="/about-us">About Us</a> or about <a href="https://openlyoperated.org" target="_blank">Openly Operated</a>.
        </p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 col-12 text-center mt-5 mb-5 pb-5">
        <h1 class="mt-5"><strong>Start a free 1 week trial.</strong></h1>
        <h5 class="text-secondary pt-2" style="line-height: 1.6">Try the only <a href="/openly-operated" style="color: #3498db; font-weight: 700; white-space: nowrap;">Openly Operated</a> way to browse securely and privately.</h5>
        <p class="mt-5 mb-1" style="color: #ddd; font-weight: 700; font-size: 14px;"><strong>DOWNLOAD</strong></p>
        <span class="d-inline-block">
          <a href="/download-mac-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-apple mr-1"></i> Mac
          </a>
          <a href="https://itunes.apple.com/app/apple-store/id1286896061?pt=118815644&ct=ConfirmedWeb&mt=8" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-apple mr-1"></i> iOS
          </a>
        </span>
        <span class="d-inline-block">
          <a href="/download-windows-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-windows mr-1"></i> PC
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.confirmed.tunnels" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-android mr-1"></i> Android
          </a>
        </span>
      </div>
      
    </div>
    
  </div>
  
  {{> homepagefooter }}
  
</body>

{{> bootstrapjs}}