{{> header title="Openly Operated™" }}
  
<body class="text-center" style="background-color:white;">
  
  {{> nav-loggedout }}
  
  <div class="container">
    
    <div class="row mt-4">
      
      <div class="col-12">
        <img src="/images/glasses-large.png" class="d-block mr-auto ml-auto" style="padding: 25px; width: 200px; height: 200px;  border-radius: 100px;">
        <h1 class="mt-3"><strong>What is <span class="confirmed-blue">Openly Operated&#8482;</span>?</strong></h1>
        <h2 class="mt-2 mb-4">
          Trust Through Transparency
        </h2>
      </div>
      
      <div class="col-lg-10 offset-lg-1 mt-5">
        <h3 class="mt-4" style="color: #ccc; font-weight: 600;">A Set Of Standards For Apps To Be Transparent</h3>
        <p class="mt-2" style="text-align: left; font-size: 18px; font-weight: 500; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
          Openly Operated&#8482; apps follow a strict set of requirements that ensure their entire operation is transparent - including source code, configuration, infrastructure, audit logs, and more. They enable a level of trust not possible with today's typical black box app, where users have no idea what's really happening with their data. Instead of just publishing a Privacy Policy, Openly Operated&#8482; apps are able to prove their Privacy Policy.
        </p>
      </div>
      
      <div class="col-lg-8 offset-lg-2">
        <div class="pt-2 mt-4 mb-4 pb-2" style="background-color: #f6f6f6; border-radius: 4px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left: auto; margin-right: auto;">
          <div class="text-center mt-3">
            <p class="pt-0 mb-0" style="font-weight: 700; font-size: 18px;">
              Openly Operated&#8482; Requirements
            </p>
          </div>
          <div style="margin-top: 0px; padding: 15px 20px;">
            <table class="cardTable mb-1 mt-2 text-left" style="width: 100%; border-collapse: collapse;">
              <tr>
                <td style="font-weight: 700;">Open Source Code</td>
                <td>All server and client code must be 100% open source.</td>
              </tr>
              <tr>
                <td style="font-weight: 700;">Open Infrastructure</td>
                <td>Configuration and backend infrastructure must be public.</td>
              </tr>
              <tr>
                <td style="font-weight: 700;">Audit Logs</td>
                <td>Public, unforgeable, and comprehensive operational logs.</td>
              </tr>
              <tr>
                <td style="font-weight: 700;">No Tampering</td>
                <td>Don't allow employees to access servers directly (SSH).</td>
              </tr>
              <tr>
                <td style="font-weight: 700;">Documentation</td>
                <td>Code and infrastructure must be documented for auditing.</td>
              </tr>
              <tr>
                <td style="font-weight: 700;">Independent Audits</td>
                <td>Publish results of independent audits periodically.</td>
              </tr>
              <tr>
                <td style="font-weight: 700;">Read-Only Account</td>
                <td>Allow read-only access to servers upon request.</td>
              </tr>
              <tr style="border-bottom: none;">
                <td style="font-weight: 700;">Bug Bounty <span style="color: #bbb; font-size: 12px;">Optional</span></td>
                <td>Active bug bounty programs increase overall security.</td>
              </tr>
            </table>
          </div>
        </div>
        
      </div>
      
      <div class="col-lg-10 offset-lg-1 pt-5 mt-5">
        <h3 style="color: #ccc; font-weight: 600;">Apps Today Are Black Boxes With No Accountability</h3>
        
        <p class="mt-2 mb-2" style="text-align: left; font-size: 18px; font-weight: 500; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
          Today, companies are trying to get their greedy little hands on your personal data any way they can, so users have to be picky about what apps they use. But users have no way of knowing if an app can be trusted - after all, Privacy Policies can be copy pasted or be outright lies, especially for companies that are headquartered offshore, outside of any consumer protection laws. Because apps today are black boxes, using a typical VPN or app might expose your data to many third parties:
        </p>
        <img src="images/non-oo.jpg" style="width: 100%; max-width: 700px;"/>
      </div>
      
      <div class="col-lg-10 offset-lg-1 pt-5 mt-5">
        <h3 style="color: #ccc; font-weight: 600;">Openly Operated&#8482; Creates Trust Through Transparency</h3>
        
        <p class="mt-2 mb-2" style="text-align: left; font-size: 18px; font-weight: 500; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
          Openly Operated&#8482; companies have to not only open source all code, but also open up all operational aspects of their service. This includes everything from the network configuration to database setup, leaving no room for the service to hide software that might be selling your data to third parties, or improperly protecting data from company employees and other threats. See the difference below:
        </p>
        <img src="images/oo.jpg" style="width: 100%; max-width: 700px;"/>
      </div>
           
      <div class="col-lg-10 offset-lg-1 pt-5 mt-5">
        <h3 style="color: #ccc; font-weight: 600;">Confirmed VPN Is The First Openly Operated&#8482; VPN</h3>
        
        <p class="mt-2 mb-2" style="text-align: left; font-size: 18px; font-weight: 500; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
          When we came up with Openly Operated&#8482; standards, we wanted to prove that it could work by building a real product. We picked the industry most vulnerable to abuse of customer data: VPNs. When you activate a VPN, all your data and browsing passes through it, so it's <a href="/why-vpn">especially important</a> that you can trust your VPN.<br/><br/>
          Please check out our <strong>Openly Operated&#8482; Verification</strong> below, whether you're a user, a developer interested in earning user trust, a security or privacy professional, or just plain curious. We hope other companies will follow suit and provide users trust through transparency.
        </p>
      </div>
      
      <div class="col-lg-8 offset-lg-2">
        
        <div class="pt-2 mt-4 mb-4" style="background-color: #f6f6f6; border-radius: 4px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left: auto; margin-right: auto;">
          <div class="text-center mt-3">
            <img src="/images/logo.png" style="height: 50px;">
            <br/>
            <p class="pt-2 mb-0" style="font-weight: 700; font-size: 18px;">
              Openly Operated&#8482; Verification
            </p>
          </div>
          <div style="margin-top: 0px; padding: 15px 20px;">
            <table class="cardTable mb-2 text-left" style="width: 100%; border-collapse: collapse;">
              <tr>
                <td><strong>Source Code</strong></td>
                <td class="d-none d-sm-block">100% Open Sourced Server & Client</td>
                <td><a target="_blank" href="https://github.com/confirmedcode" style="font-weight: 700; color: #3498db;">GitHub</a></td>
              </tr>
              <tr>
                <td><strong>Infrastructure</strong></td>
                <td class="d-none d-sm-block">100% Open Sourced Infrastructure</td>
                <td><a target="_blank" href="https://github.com/confirmedcode/CloudFormation" style="font-weight: 700; color: #3498db;">GitHub</a></td>
              </tr>
              <tr>
                <td><strong>Audit Logs</strong></td>
                <td class="d-none d-sm-block">Comprehensive Logs From Inception</td>
                <td><a target="_blank" href="https://s3.amazonaws.com/confirmed-auditlogs/Logs-12-10-18.zip" style="font-weight: 700; color: #3498db; display:block; font-size: 11px" download>Download<br/><span style="color: orange">(Warning: Large)</span></a></td>
              </tr>
              <tr>
                <td><strong>No Tampering</strong></td>
                <td class="d-none d-sm-block">Proven With Open Watch Tool</td>
                <td><a href="https://github.com/openlyoperated/Open-Watch" style="font-weight: 700; color: #3498db;">Open Watch</a></td>
              </tr>
              <tr>
                <td><strong>Documentation</strong></td>
                <td class="d-none d-sm-block">Both Architecture And Code</td>
                <td><a target="_blank" href="https://github.com/confirmedcode/Docs" style="font-weight: 700; color: #3498db;">GitHub</a></td>
              </tr>
              <tr>
                <td><strong>Independent Audits</strong></td>
                <td class="d-none d-sm-block">Two Completed, More Audits Soon</td>
                <td>
                  <a target="_blank" href="https://s3.amazonaws.com/confirmed-audits/factor13.pdf" style="font-style: normal; font-weight: 700; color: #3498db; font-size: 11px; display: block;">Factor13 LLC, 12/2018</a>
                  <a target="_blank" href="https://s3.amazonaws.com/confirmed-audits/rkoven.pdf" style="font-style: normal; font-weight: 700; color: #3498db; font-size: 11px; display: block;">Ryan Koven, 11/2018</a>
                </td>
              </tr>
              <tr>
                <td><strong>Read-Only Account</strong></td>
                <td class="d-none d-sm-block">Available Upon Request</td>
                <td><a href="mailto:engineering@confirmedvpn.com?subject=Request%20For%20Read%20Only%20Account&body=I'd%20like%20a%20read-only%20account%20for%20Confirmed%20VPN's%20backend%2C%20please.%0AReason%3A" style="font-weight: 700; color: #3498db;">Request</a></td>
              </tr>
              <tr style="border-bottom: none;">
                <td><strong>Bug Bounty</strong></td>
                <td class="d-none d-sm-block">Active Project Through hackerone</td>
                <td><a target="_blank" href="https://hackerone.com/confirmed_inc" style="font-weight: 700; color: #3498db;">hackerone</td>
              </tr>
            </table>
            <div style="float:right; font-size: 12px; font-weight: 700; color: #aaa">
              Last Updated: December 11th, 2018
            </div>
            <div style="clear:both;"></div>
          </div>
        </div>
        
      </div>
      
      <div class="col-lg-10 offset-lg-1 pt-5 mt-4">
        <h3 class="mt-4" style="color: #ccc; font-weight: 600;">Our Mission</h3>
        <p class="mt-2 mb-2" style="text-align: left; font-size: 18px; font-weight: 500; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
          At Confirmed, our mission is to increase user trust in the web services and apps that they use every day. People shouldn't have to be in the dark about what's happening with their personal data. We believe that complete transparency through being Openly Operated&#8482; is the future, and that once people experience this level of trust and assurance, they'll never want to go back to black box apps again. You can learn more on <a href="/about-us">About Us</a>.
        </p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 col-12 text-center mt-5 mb-5 pb-5">
        <h1 class="mt-5"><strong>Start a free 1 week trial.</strong></h1>
        <h5 class="text-secondary pt-2" style="line-height: 1.6">Try the only <a href="/openly-operated" style="color: #3498db; font-weight: 700; white-space: nowrap;">Openly Operated&#8482;</a> way to browse securely and privately.</h5>
        <p class="mt-5 mb-1" style="color: #ddd; font-weight: 700; font-size: 14px;"><strong>DOWNLOAD</strong></p>
        <span class="d-inline-block">
          <a href="/download-mac-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-apple mr-1"></i> Mac
          </a>
          <a href="https://itunes.apple.com/us/app/confirmed-vpn/id1286896061?mt=8&uo=6&at=11l32tU&ct=confirmed_vpn" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-apple mr-1"></i> iOS
          </a>
        </span>
        <span class="d-inline-block">
          <a href="/download-windows-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-windows mr-1"></i> PC
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.confirmed.tunnels" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-android mr-1"></i> Android
          </a>
        </span>
      </div>
      
    </div>
    
  </div>
  
  {{> homepagefooter }}
  
</body>

{{> bootstrapjs}}