{{> header title="Privacy Policy" }}

<body class="text-center" style="background-color: white;">
  
  {{> nav-loggedout }}

  <div class="container">
    
    <div class="row mt-5">
      
      <div class="col-12">
        <h4 class="serif mb-2 pb-0 mt-1 pt-5"><strong>Privacy Policy</strong></h4>
        <p class="serif pb-3 mb-4">Last Updated May 2nd, 2019</p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 mb-5 pb-0 pt-5 text-left">
      <p>Confirmed VPN is certified as Openly Operated, so it is able to provide proof of the privacy claims in this Privacy Policy by using references from its <a href="/report/confirmedvpn" target="_blank">Audit Kit</a>. Learn more about the <a href="https://openlyoperated.org" target="_blank">Openly Operated Certification</a>.</p>
      <p>Confirmed, Inc. (also “Confirmed”, “the company”, “we”, and “us”) collects the minimum data possible to ensure your data and privacy is protected.</p>
      <p>Confirmed complies with the European Union’s General Data Protection Regulation (GDPR) for all users, regardless of location. In addition, we collect the minimum personal information required to provide the Confirmed service.</p>
      <p>We do not sell or provide data to advertising services, and there are zero third party frameworks for marketing or re-marketing purposes. This includes any direct or indirect advertising frameworks by Facebook, Twitter, and Google, including Crashlytics, Fabric, Google Analytics, Facebook SDK, Firebase, and Twitter SDK.</p>
      <p>Although this Privacy Policy is a legal document that Confirmed is required to follow, we also prove that Confirmed’s operations and services conform to this Privacy Policy by engaging independent 3rd parties to audit us. The materials provided to auditors are also available publicly as an <a href="/report/confirmedvpn" target="_blank">"Audit Kit"</a>.</p>
      <h3 class="mt-5 mb-3">Information We Collect</h3>
      <h5>Information From Website Browsers</h5>
      <p>If you are just browsing the Confirmed website, we do not store or log your IP address or use a cookie to track you.</p>
      <h5>Personal Information From Users With Accounts</h5>
      <p>If you create an account, we require some basic information at the time of account creation.</p>
      <p>For all users, we record the creation date of the account and the active subscription plan for the account. While using the Confirmed service, we record the total amount of bandwidth consumed in the last thirty days. No website data or traffic is stored related to this metric. This bandwidth data is used only to throttle very high-bandwidth users and provide a fair distribution of resources to all users.</p>
      <p>For mobile users, we require an App Store or Google Play receipt, which contains no personally identifying information. The sole purpose of this data is to to validate that the account has an active subscription for the Confirmed service.</p>
      <p>For desktop users, we require a valid credit card that is processed and stored by Stripe, Inc., a PCI-compliant payment processor. We do not store your credit card number on our servers, nor can we access it. Stripe also will also store metadata related to your financial transaction that we can access, such as zip code and country of origin, primarily to validate the authenticity of the transaction and pay applicable local taxes (i.e., Value Added Tax in the European Union).</p>
      <p>A valid e-mail address is not required for the Confirmed service, but strongly recommended. It provides a means of communication for changes to our Terms and Conditions and Privacy Policy, as well as a communication channel for all data access. We record an encrypted form of your email address, which we cannot decrypt because we do not have direct, unaudited access to the encryption keys, nor do we have direct, unaudited access to the database where this encrypted email resides. We also record a hashed form of your email address, which we also do not have direct, unaudited access to.</p>
      <h5>Referral Program</h5>
      <p>If you participate in our voluntary referral program, the Confirmed service will record each account that signed up with your referral code in your account data. This is solely to attribute active subscribers to your account and provide the applicable discount to your subscription plan.If you refer someone (or you were referred by someone), the referrer will receive an e-mail upon the referred user signing up for a trial as well as upon becoming a paid subscriber. The referrer always will be able to see whether you have an active subscription because it affects the pricing of their account.</p>
      <h5>Website Traffic</h5>
      <p>We do not log or track any usage of our website, except for error messages on our server (such as accessing a page that does not exist). For these cases, we log the error (i.e., the URL attempted) and the time that it happened, but no personally identifying information such as a user’s IP address is logged.</p>
      <h5>VPN Traffic</h5>
      <p>Not logging user traffic and being able to prove this is a standout feature for Confirmed VPN. The following summarizes our proof (rather than blind assertions made by other VPN services), and we encourage you to read the entire detailed proof in our independently conducted <a href="https://openlyoperated.org/report/confirmedvpn" target="_blank">Audit Reports</a> as well as explore the actual VPN's source code and open infrastructure in the <a href="https://openlyoperated.org/report/confirmedvpn" target="_blank">Audit Kit</a>, which provides full transparency in everything in Confirmed VPN's operations.</p>
      <p>If you have any questions or feedback, we're <a href="https://confirmedvpn.com/contact">always available</a> via email, Telegram, and other contact methods.</p>
      <p>For traffic and data through our VPN, we do not log or store any website or traffic data for any period of time, with the exception of violations of Confirmed's anti-abuse rules, which are fully public and designed to prevent malicious VPN users from abusing other VPN users. Without these restrictions, malicious users could significantly deteriorate the quality of other users' internet connections. Every VPN has anti-abuse measures, but only Confirmed is able to prove exactly what these measures are.</p>
      <p>The anti-abuse rules are based on the public and industry-standard <a href="https://doc.emergingthreats.net" target="_blank">Emerging Threats</a> ruleset, with our services' specific customizations publicly available <a href="https://s3.amazonaws.com/shared-suricatabucket-disep6ow5763" target="_blank">here</a>. To access a specific rule file, simply append the file name that's listed to the same url — for example, the direct link to access the confirmed.rules file is <a href="https://s3.amazonaws.com/shared-suricatabucket-disep6ow5763" target="_blank">here</a>.</p>
      <p>The anti-abuse rule triggers are performed algorithmically and no individual has access to or processes any data. Even in the case that an anti-abuse rule is triggered, the user's real IP address is not logged. The anti-abuse measures above are also described in the Acceptable Use provisions of Confirmed's <a href="https://confirmedvpn.com/terms" target="_blank">Terms of Service</a>.</p>
      <h3 class="mt-5 mb-4">Privacy Practices</h3>
      <p>We store and process the information that we collect in the United States in accordance with this Privacy Policy.</p>
      <p>However, Confirmed understands that we have users from different countries and regions with different privacy expectations, and we try to meet those needs even when the United States does not have the same privacy framework as other countries.</p>
      <p>We provide the same standard of privacy protection — as described in this Privacy Policy — to all our users around the world, regardless of their country of origin or location, and we are proud of the levels of notice, choice, accountability, security, data integrity, access, and recourse we provide.</p>
      <h3 class="mt-5 mb-3">Openly Operated Principles</h3>
      <p>Data transmitted by Openly Operated is at the minimum encrypted using HTTPS and SSL/TLS. The limited data we collect on our servers is encrypted with a key that we cannot access without automatically sending the user an alert that we are accessing this data. By being an Openly Operated product, our architecture is open source and available for public audit to prove that we cannot access any personal data. For proof of these claims, see our Audit Kit's <a href="/report/confirmedvpn#open-infrastructure" target="_blank">Open Infrastructure</a> and <a href="/report/confirmedvpn#open-source" target="_blank">Open Source</a> sections.</p>
      <p>In the event of a data breach that affects your personal information, we will act promptly to mitigate the impact of the breach and notify any affected users without undue delay.</p>
      <h4 class="mt-5 mb-3">Compelled Disclosure</h4>
      <p>Confirmed may be legally required to disclose information to law enforcement in response to a valid subpoena, court order, warrant, or similar government order, or when we believe in good faith that disclosure is reasonably necessary to protect our property or rights, or those of third parties or the public at large.
      In complying with court orders and similar legal processes, Confirmed strives for transparency and protection of user data. We will notify users of any disclosure of their information, unless we are prohibited by law or court order from doing so, or in rare, exigent circumstances.</p>
      <h4 class="mt-5 mb-3">Right to Erasure</h4>
      <p>Confirmed will retain your account information for as long as your account is active or as needed to provide you services.</p>
      <p>If you would like to delete the encrypted version of your account information, you may do so by <a href="https://confirmedvpn.com/contact" target="_blank">contacting us</a>. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements, but barring legal requirements, we will delete your full account within 90 days of your request. To see proof of how your data is stored and deleted, see the <a href="/report/confirmedvpn#open-source" target="_blank">Open Source</a> section of the Confirmed VPN Audit Kit.</p>
      <p>If you have any questions or concerns regarding our Privacy Policy, please contact us at privacy@confirmedvpn.com and we will respond as quickly as we can.</p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 col-12 text-center mt-5 mb-5 pb-5">
        <h1 class="mt-5"><strong>Start a free 1 week trial.</strong></h1>
        <h5 class="text-secondary pt-2" style="line-height: 1.6">Try the only <a href="/openly-operated" style="color: #3498db; font-weight: 700; white-space: nowrap;">Openly Operated</a> way to browse securely and privately.</h5>
        <p class="mt-5 mb-1" style="color: #ddd; font-weight: 700; font-size: 14px;"><strong>DOWNLOAD</strong></p>
        <span class="d-inline-block">
          <a href="/download-mac-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-apple mr-1"></i> Mac
          </a>
          <a href="https://itunes.apple.com/app/apple-store/id1286896061?pt=118815644&ct=ConfirmedWeb&mt=8" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-apple mr-1"></i> iOS
          </a>
        </span>
        <span class="d-inline-block">
          <a href="/download-windows-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-windows mr-1"></i> PC
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.confirmed.tunnels" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-android mr-1"></i> Android
          </a>
        </span>
      </div>
      
    </div>
    
  </div>
  
  {{> homepagefooter }}
  
</body>

{{> bootstrapjs}}