{{> header title="Reset Password" secureurl="true" }}

<body class="text-center">
  
  {{> nav-loggedout }}
  
  <div class="container mt-4">
    <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-left">
      
      {{> flash }}
      
      <div class="container-fluid p-3 mt-5 confirmed-panel">
        <h1 class="h5 text-center">Reset Password</h1>
        <form action="/reset-password?code={{code}}&lockdown={{lockdown}}" onsubmit="return validatePasswordMatch()" method="POST">
          <input type="hidden" id="code" style="display:none" name="code" value="{{code}}">
          <p style="font-size: 11px; margin-bottom: 2px">New Password</p>
          <div style="margin-bottom: 6px;">
            <input type="password" oninput="checkPasswordRules()" class="form-control" id="newPassword" style="width: 100%" name="newPassword">
          </div>
          <p style="font-size: 11px; margin-bottom: 2px">Verify New Password</p>
          <div style="margin-bottom: 6px;">
            <input type="password" oninput="checkPasswordRules()" class="form-control" id="verifyPassword" style="width: 100%" name="verifyPassword">
          </div>
          <div id="pswd_info" style="display:none;">
            <ul style="margin-bottom: 5px; padding-left: 20px;">
              <li class="invalid" id="lowercase" style="display:none;">- Must contain lowercase letter</li>
              <li class="invalid" id="uppercase" style="display:none;">- Must contain uppercase letter</li>
              <li class="invalid" id="numbers" style="display:none;">- Must contain a number</li>
              <li class="invalid" id="specialchars" style="display:none;">- Must contain a special character</li>
              <li class="invalid" id="length" style="display:none;">- Must be at least 8 character</li>
              <li class="invalid" id="passmatch" style="display:none;">- Password must match</li>
            </ul>
          </div>
          <button id="setNewPasswordButton" type="submit" class="btn confirmed-blue-btn btn-sm text-white btn-block mt-2">Submit Change</button>
        </form>
      </div>
      
    </div>
  </div>
  
  <script>
    
    function checkPasswordRules() {

      document.getElementById("lowercase").style.display = "none";
      document.getElementById("uppercase").style.display = "none";
      document.getElementById("numbers").style.display = "none";
      document.getElementById("specialchars").style.display = "none";
      document.getElementById("length").style.display = "none";
      document.getElementById("passmatch").style.display = "none";
      
      var v = document.getElementById("newPassword").value;
      var v2 = document.getElementById("verifyPassword").value;
      
      if (v == null || v == "" || v.length == 0) {
        return;
      }
      
      var violated = false;
      
      if (/[a-z]/g.test(v) != true) {
        document.getElementById("lowercase").style.display = "block";
        violated = true;
      }
      if (/[A-Z]/g.test(v) != true) {
        document.getElementById("uppercase").style.display = "block";
        violated = true;
      }
      if (/\d/.test(v) != true) {
        document.getElementById("numbers").style.display = "block";
        violated = true;
      }
      if (/[~`!@#$%^&*()\-_+=[\]{}\\|;:'",<.>/?]/g.test(v) != true) {
        document.getElementById("specialchars").style.display = "block";
        violated = true;
      }
      if (v.length < 8) {
        document.getElementById("length").style.display = "block";
        violated = true;
      }
      if (v != v2) {
        document.getElementById("passmatch").style.display = "block";
        violated = true;
      }
      
      if (violated == true) {
        document.getElementById("pswd_info").style.display = "block";
      }
      else {
        document.getElementById("pswd_info").style.display = "none";
      }
    }
    
    function validatePasswordMatch() {
      if (document.getElementById("newPassword").value != document.getElementById("verifyPassword").value) {
        bootbox.alert("Passwords must match.");
        return false;
      }
      else {
        return true;
      }
    }
  </script>
  
  {{> footer}}

  {{> bootstrapjs}}
  
  <script src="/js/bootbox.min.js"></script>
    
</body>