{{> header title="Reset Password" }}

<body class="text-center">
  
  {{> nav-loggedout }}
  
  <div class="container mt-4">
    <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-left">
      
      <h1 class="h5 text-center mt-5">Reset Password</h1>
      
      {{> flash }}
      
      <div class="container-fluid p-3 confirmed-bg">
        <form action="/reset-password" onsubmit="return validatePasswordMatch()" method="POST">
          <input type="hidden" id="code" style="display:none" name="code" value="{{code}}">
          <p style="font-size: 11px; margin-bottom: 2px">New Password</p>
          <div style="margin-bottom: 6px;">
            <input type="password" class="form-control" id="newPassword" style="width: 100%" name="newPassword">
          </div>
          <p style="font-size: 11px; margin-bottom: 2px">Verify New Password</p>
          <div style="margin-bottom: 6px;">
            <input type="password" class="form-control" id="verifyPassword" style="width: 100%" name="verifyPassword">
          </div>
          <button id="setNewPasswordButton" type="submit" class="btn confirmed-blue-btn btn-sm text-white btn-block mt-2">Submit Change</button>
        </form>
      </div>
      
    </div>
  </div>
  
  <script>
    function validatePasswordMatch() {
      if (document.getElementById("newPassword").value != document.getElementById("verifyPassword").value) {
        bootbox.alert("Passwords must match.");
        return false;
      }
      else {
        return true;
      }
    }
  </script>
  
  {{> footer}}

  {{> bootstrapjs}}
  
  <script src="/js/bootbox.min.js"></script>
    
</body>