{{> header title="Check Your Email" }}

<body class="text-center">
  
  {{> nav-loggedout }}
  
  <div class="container-fluid mt-5 pt-3">
    <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-left confirmed-panel">
      
        <h1 class="h5 mb-3 mt-3 font-weight-bold text-center">Check Your Email</h1>
        <h1 class="h6 mb-3 mt-2 font-weight-normal text-muted">To complete signup, check your email for a <strong>confirmation link</strong>. Be sure to check your junk folder too&mdash; sometimes the email can get stuck there.</h1>

    </div>
  </div>
  
  {{> footer}}

  {{> bootstrapjs}}
  
</body>
