{{> header title="Support and FAQ" }}
  
<body class="text-center" style="background-color:white;">
  
  {{> nav-loggedout }}
  
  <div class="container">
    
    <div class="row mt-5">
      
      <div class="col-12 mb-4">
        <h1 class="mt-3"><strong>Support and FAQ</strong></h1>
      </div>
      
      <div class="col-lg-10 offset-lg-1 text-left">
        
        <p class="text-center">
          If your question is not answered below, please <a href="/contact">Contact Us</a>.
        </p>
      
        <ul class="list-unstyled pb-0 pt-4">
          <li class="pt-1"><a href="#anchor1">What platforms does Confirmed support?</a></li>
          <li class="pt-1"><a href="#anchor2">Why should you use a VPN?</a></li>
          <li class="pt-1"><a href="#anchor3">What makes Confirmed VPN different?</a></li>
          <li class="pt-1"><a href="#anchor4">Blocking Ads & Tracking Scripts</a></li>
          <li class="pt-1"><a href="#anchor5">Whitelisting Websites</a></li>
          <li class="pt-1"><a href="#anchor6">Acceptable Use Rules</a></li>
          <li class="pt-1"><a href="#anchor7">Confirmed Referral Program</a></li>
          <li class="pt-1"><a href="#anchor8">How do I check if I'm "leaking DNS"?</a></li>
        </ul>
  
        <div class="pb-3 pt-4" id="anchor1">
          <h4 class="mt-3 pb-0 mb-0">What platforms does Confirmed support?</h4>
          <div class="text-muted mb-2"><small> </small></div>
          <div class="body fr-view"><p>We built Confirmed to support as many devices as possible. As of now, we support:</p><ul><li>macOS 10.10 and later</li><li>iOS 10.0 and later</li><li>Android 5.0 and later</li><li>Windows 10 and later</li></ul></div>
        </div>
        
        <div class="pb-3 pt-4" id="anchor2">
          <h4 class="mt-3 pb-0 mb-0">Why should you use a VPN?</h4>
          <div class="text-muted mb-2"><small> </small></div>
          <div class="body fr-view"><h5>What A VPN Is</h5><p>A VPN (or Virtual Private Network) is a simple way to encrypt &amp; protect your Internet traffic. When you are browsing the Internet, almost <a href="https://www.wired.com/2017/01/half-web-now-encrypted-makes-everyone-safer/" rel="noopener noreferrer" target="_blank" title="">half</a> is still unencrypted. That means anyone on the same network can see your history, including sign in information, passwords, credit card information, etc. <strong>in plain text</strong>. This is extremely dangerous, and VPNs provide a simple solution to protect you from that risk.</p><h5>Your Browsing History</h5><p>Without a VPN, all domains you visit are visible to your Internet provider, and your IP address, a unique identifier to track you, can be logged by any website you visit. This is often sold to third-party companies to target ads that follow you around online, and sometimes for more nefarious purposes.</p><h5>What Confirmed VPN Does</h5><p>Confirmed VPN<strong>&nbsp;</strong>not only encrypts your traffic and secures your browsing history, it has a built-in ad blocker as well as blocks tracking scripts from companies known to collect your personal data, such as Facebook, Google, and Twitter.</p><p>Check it out <a href="https://confirmedvpn.com" rel="noopener noreferrer" target="_blank" title="">here</a> and learn <a href="/openly-operated" rel="noopener noreferrer" target="_blank" title="">more</a> about what makes Confirmed different.</p></div>
        </div>

        <div class="pb-3 pt-4" id="anchor3">
          <h4 class="mt-3 pb-0 mb-0">What makes Confirmed VPN different?</h4>
          <div class="body fr-view"><p>Though there are plenty of VPN products out there, it's difficult to be sure of which one you can trust. Though a VPN should be designed to protect you, many have been revealed to collect and sell your data, such as <a href="https://www.gizmodo.com.au/2018/02/do-not-i-repeat-do-not-download-onavo-facebooks-vampiric-vpn-service/" rel="noopener noreferrer" target="_blank" title="">Facebook's Onavo VPN</a>, and <a href="https://gist.github.com/joepie91/5a9909939e6ce7d09e29" rel="noopener noreferrer" target="_blank" title="">many others</a>.&nbsp;</p><p>And for the rest, you still can't be sure which to trust. This <a href="https://techcrunch.com/2017/01/01/wtf-is-a-vpn/?_ga=2.262766668.1181282120.1529960875-193417584.1516832844" rel="noopener noreferrer" target="_blank" title="">TechCrunch guide</a> specifically tells users they have to blindly trust VPNs and it cannot honestly tell you which VPN is best, but rather only tell it's readers not to use a free one as their business model is built around profiting from your data.</p>
            <p>Confirmed VPN is different because it's Openly Operated, which means it provides full transparency, and allows anyone to see and verify the proof of what every part of it is doing. Read about how Openly Operated creates trust through transparency for Confirmed VPN <a href="/openly-operated">here</a>, and learn about the the Openly Operated certification <a href="https://openlyoperated.org">here</a>.</p>
        </div>

        <div class="pb-3 pt-4" id="anchor4">
          <h4 class="mt-3 pb-0 mb-0">Blocking Ads & Tracking Scripts</h4>
          <div class="text-muted mb-2"><small> </small></div>
          <div class="body fr-view"><p>Advertisements have become more invasive than ever. Companies often collect data without your consent and display ads that follow you around the web.&nbsp;</p><p>Although advertisements are disturbing and scary, it's even worse that you don't know who or what entity owns that tracking data. This is why we built the Confirmed Blocker.</p><h5>How it works</h5><p>We built a Content Blocker, which will automatically detect invasive tracking scripts and ads, and simply block them from being rendered. This has several important effects:</p><p><strong>1) Websites load faster -&nbsp;</strong>Without the bloated &amp; invasive code, the entire web can become much more responsive.</p><p><strong>2)&nbsp;</strong><strong>Websites look better -&nbsp;</strong>No more full-page ads over your content, providing you a much better web experience.</p><p><strong>3) Your data is safe with you&nbsp;</strong><strong>-&nbsp;</strong>We process all of this on your phone locally. We never have any access to your browsing history or Internet traffic, and now neither does everyone else.</p><h5>How to set it up</h5><p><a href="https://confirmedvpn.com" rel="noopener noreferrer" target="_blank" title="Confirmed VPN">Confirmed VPN</a> comes free with a Content Blocker. Simply open the app and go to Settings to enable the feature. It is also suggested in the onboarding when you first install the app. If you have any issues setting it up, please contact us and we will help you set it up.</p></div>
        </div>
        
        <div class="pb-3 pt-4" id="anchor5">
          <h4 class="mt-3 pb-0 mb-0">Whitelisting Websites</h4>
          <div class="text-muted mb-2"><small> </small></div>
          <div class="body fr-view"><p>Using a VPN improves privacy &amp; security dramatically. When you are browsing the Internet, almost <a href="https://www.wired.com/2017/01/half-web-now-encrypted-makes-everyone-safer/" rel="noopener noreferrer" target="_blank" title="">half</a> is still unencrypted. That means anyone on the same network can see your history, including sign in information, passwords, credit card information, etc. <strong>in plain text</strong>. This is extremely dangerous, and VPNs provide a simple solution to protect you from that risk.</p><p>However, some websites do not operate well with a VPN. We strongly suggest not using these websites, but for those that are <strong>very</strong> trusted &amp; necessary for your work, we have built a technology to allow certain traffic to directly communicate with the website.</p><h5>Confirmed Team Suggestions</h5><p>To make our product seamless, there are several domains that we automatically whitelist. These include Apple, Adobe, Twitter, Hulu, Netflix, and several other websites that you can see in your settings.&nbsp;</p><p>These domains can easily be disabled from Whitelisting in the Settings page if you would like to send the data through our VPN.</p><h5>Custom Whitelisting</h5><p>Because everyone's Internet usage is different, we also allow the user to permit whitelisting when he or she finds it necessary. This allows you to send traffic directly to the website instead of our VPN. We do not recommend this unless it is absolutely necessary for your Internet experience. You can add any domain in the Settings page and remove it later if you no longer want to Whitelist that website.</p><h5>Force VPN</h5><p>For users that want an extra level of privacy, we allow a setting on macOS &amp; Windows that requires the VPN be enabled for any Internet usage (except for Whitelisted sites, which you will need to manually disable). This means that no data will directly communicate without being routed through our VPN. If the VPN is disabled or cannot communicate with our Confirmed servers, you will have no Internet usage until you turn off the VPN.&nbsp;</p><p>This setting is off by default, but you can enable it in the Settings of the desktop app.&nbsp;</p><p>Please let us know if you have any questions regarding Whitelisting or the Force VPN switch.</p></div>
        </div>
        
        <div class="pb-3 pt-4" id="anchor6">
          <h4 class="mt-3 pb-0 mb-0">Acceptable Use Rules</h4>
          <div class="text-muted mb-2"><small> </small></div>
          <div class="body fr-view"><p>Confirmed's goal is to improve security &amp; privacy for all users in the world. We believe people have a fundamental right to privacy &amp; their data.&nbsp;</p><p>However, with every product that promotes privacy, there is also the potential for bad actors. We do not believe they help the community and we must take a stand to protect other users of our service and the world. It is up to the user to comply with local laws &amp; regulations and use the service legally.</p><p>As outlined in our <a href="https://confirmedvpn.com/terms" rel="noopener noreferrer" target="_blank" title="">Terms of Use</a>, there are cases where we may prevent you from using the service. We use a set of rules that are publicly available and maintained by an open source security community (<a href="https://suricata-ids.org/).">https://suricata-ids.org/)</a> to detect &amp; ban malicious traffic. This includes attempts to use credit cards fraudulently, hack severs, violate intellectual property, and other similar violations.</p><p>We do this to ensure our service can continue running safely &amp; legally, prevent bad actors from abusing others in the world, and protect the experience of users on our Service</p><p>If you have any questions, please e-mail our team and we will provide any additional information you request.</p></div>
        </div>
        
        <div class="pb-3 pt-4" id="anchor7">
          <h4 class="mt-3 pb-0 mb-0">Confirmed VPN Referral Program</h4>
          <div class="text-muted mb-2"><small> </small></div>
          <div class="body fr-view"><p>At Confirmed, we don't want to participate in traditional advertising that <a href="https://www.theguardian.com/commentisfree/2018/mar/28/all-the-data-facebook-google-has-on-you-privacy" rel="noopener noreferrer" target="_blank" title="">often invades peoples privacy</a>. So, we developed a referral program for users to directly recommend the app to their friends. We believe this program is more reflective of our values, and incentivizes people to suggest products they actually enjoy.</p><h5>How It Works</h5><p>If you sign up with a referral code, you will receive 10% off your subscription <em>forever</em>. Furthermore, for each person you refer to Confirmed, you will get an additional 10% off <em>as long as they are signed up.</em></p><p>This means that you can use Confirmed <strong>for free</strong> if you recommend 10 people!</p><h5>Why We Set This Up</h5><p>We believe privacy is not talked about enough. With a referral program, we can encourage grass roots conversations about improving transparency in companies as well as promoting products that protect an individual's right to privacy. Instead of paying advertising companies to promote this message, we want to pass that benefit along to individuals. We also believe it makes more sense to have our users talk to their community directly about their experience than to hear it from a third party.&nbsp;</p><p>We hope this program improves the discussion around privacy on the web, and that our users can benefit from having their friends use the same trustworthy product.&nbsp;</p><p>If you have any questions, please e-mail our team below.</p></div>
        </div>
        
        <div class="pb-3 pt-4" id="anchor8">
          <h4 class="mt-3 pb-0 mb-0">How do I check if I'm "leaking DNS"?</h4>
          <div class="text-muted mb-2"><small> </small></div>
          <div class="body fr-view"><p>We configure our clients to never leak DNS (and our audits also confirm this), but if you're an expert user who is concerned, here's one way to check yourself:</p><p>If you're on macOS or OS X, go to Terminal and running the following:</p><p><code>sudo tcpdump port 53 (then enter your root password)</code></p><p>Then, leave that window open and browse the internet as usual. If Confirmed VPN is activated (connected), you should see no DNS requests in that window (the exceptions being domains you've whitelisted). When you deactivate Confirmed VPN (disconnected), you'll start seeing DNS requests in that window.&nbsp;</p><p>If you're on Windows 10, you can check by opening PowerShell (preferably as administrator) and running the following:</p><p><code>Resolve-DnsName -name whoami.ipv4.akahelp.net -QuickTimeout -Type TXT | &nbsp;Select -exp Strings<br>ns</code></p><p>When Confirmed VPN is deactivated (disconnected), that command returns the IP of the DNS server of your ISP.</p><p>When Confirmed VPN is activated (connected), the command above returns a different IP that is not your ISP's DNS server. This is Confirmed VPN's configured DNS.</p><p>If you have any further questions about this, please reach out to us at <a href="mailto:engineering@confirmedvpn.com.">engineering@confirmedvpn.com.</a> We are happy to answer your questions and address your concerns!</p></div>
        </div>
  
      </div>
      
    </div>
    
  </div>
  
  {{> homepagefooter }}
  
</body>

{{> bootstrapjs}}