{{> header title="Terms and Conditions" }}

<body class="text-center" style="background-color: white;">
  
  {{> nav-loggedout }}
  
  <div class="container">
    
    <div class="row mt-5">
      
      <div class="col-12">
        <h4 class="serif mb-2 pb-0 mt-1 pt-5"><strong>Terms and Conditions</strong></h4>
        <p class="serif pb-3 mb-4">Last Updated May 2nd, 2019</p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 mb-5 pb-0 pt-5 text-left">
        <p>Confirmed VPN is certified as Openly Operated, so it is able to provide proof of the claims in the following Terms and Conditions by using references from Confirmed VPN's <a href="https://openlyoperated.org/report/confirmedvpn" target="_blank">Audit Kit</a>. Learn more about the <a href="https://openlyoperated.org" target="_blank">Openly Operated Certification</a>.</p>
        <h3 class="mt-5 mb-3">Definitions</h3>
        <h5>Short Version</h5>
        <p>We use these basic terms throughout this agreement, and they have specific meanings. You should know what we mean when we use each of these terms.</p>
        <p><strong>The Agreement</strong> refers, collectively, to all the terms, conditions, and notices contained or referenced in this Terms of Service, and all other operating rules, procedures, and policies of Confirmed VPN (including the Confirmed VPN Privacy Policy, available <a href="/privacy" target="_blank">here</a>.</p>
        <p><strong>The Terms</strong> refers to this Terms of Service.</p>
        <p><strong>The Service</strong> refers to the applications, software, products, websites, support, and services provided by Confirmed VPN.</p>
        <p><strong>The Website</strong> refers to Confirmed website located at confirmedvpn.com, including any subdomain, and all content, services, and products provided by Confirmed at or through the Website.</p>
        <p><strong>Customer, you, and your</strong> refers to the organization, company, and/or individual that has visited, accesses, or uses any part of an account associated with the Website or Service.</p>
        <p><strong>Confirmed VPN, Confirmed, we, our, and us</strong> refer to Confirmed, Inc., as well as our affiliates, directors, subsidiaries, contractors, licensors, officers, agents, and employees.</p>
        <p><strong>Account</strong> represents your legal relationship with Confirmed. An “Account” represents the authorization of an individual, organization, or entity to log in to and use the Service and serves as a User’s identity on the Service.</p>
        <p><strong>Content</strong> refers to the content featured or displayed through the Website and/or Service, including without limitation text, data, articles, images, photographs, graphics, software, applications, designs, features, and other materials.</p>
        <h3 class="mt-5 mb-3">Account Terms</h3>
        <h5>Short Version</h5>
        <p>A human must create your Account; the creator and users of your Account must be 13 or over; if you decide to provide an email address, it must be valid; your payment method must also be valid. You alone are responsible for your Account and anything that happens while you are using your Account.</p>
        <h5>Required Information</h5>
        <p>You must provide a valid form of payment to use the Service. No other information is required to use our product. To receive important updates as well as benefit from our implementation of the Openly Operated architecture, we strongly advise you provide a valid e-mail address. Learn more in our <a href="https://openlyoperated.org/report/confirmedvpn" target="_blank">Audit Kit</a>.</p>
        <h5>Account Security</h5>
        <p>Confirmed has minimum requirements for authentication to help secure accounts, but you are responsible for keeping your Account credentials private while using Confirmed products. You are required to keep your credentials private and protected, and should not share them with any other person.</p>
        <p>You are responsible for all Content accessed on our Service through your Account.</p>
        <p>Confirmed will not be liable for any loss or damage from your failure to comply with this security obligation. You will promptly notify Confirmed if you become aware of any unauthorized use of, or access to, our Service through your Account, including any unauthorized use of your password or Account.</p>
        <p>To see how emails are kept private and protected from both external and internal threats, see Confirmed VPN's <a href="https://openlyoperated.org/report/confirmedvpn" target="_blank">Audit Kit</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.</p>
        <h5>Payment</h5>
        <p>You are responsible for any fees associated with your use of the Service. We are responsible for communicating those fees to you clearly and accurately, and letting you know well in advance if those prices change. You can view our pricing on our homepage (https://confirmedvpn.com).</p>
        <p>By agreeing to these Terms, you are giving us permission to charge your on-file credit card, App Store account, Google Play account, PayPal account, or other approved methods of payment for fees that you authorize for Confirmed.</p>
        <p>For monthly or yearly payment plans, the Service is billed in advance on a monthly or yearly basis respectively and is non-refundable. There will be no refunds or credits for partial months of service, downgrade refunds, or refunds for months unused with an open Account; however, the Service will remain active for the length of the paid billing period.</p>
        <h5>Cancellation</h5>
        <p>It is your responsibility to properly cancel your Account with Confirmed. For users that pay through the App Store, cancellation must be <a href="https://support.apple.com/en-us/HT202039" target="_blank">done through Apple</a>. For users that pay through Google Play, cancellation must be <a href="https://support.google.com/googleplay/answer/7018481" target="_blank">done through Google</a>. For all other users, please visit <a href="https://confirmedvpn.com/account" target="_blank">Account</a> to view or cancel your subscription.</p>
        <h5>Confirmed May Terminate</h5>
        <p>Confirmed has the right to suspend or terminate your access to all or any part of the Website and Service at any time, with or without cause, with or without notice, effective immediately. Confirmed reserves the right to refuse service to anyone for any reason at any time.</p>
        <h5>Survival</h5>
        <p>All provisions of this Agreement which by their nature should survive termination will survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>
        <h5>Electronic Communication Required</h5>
        <p>For contractual purposes, you (1) consent to receive communications from us in an electronic form via the email address you have submitted or via the Service; and (2) agree that all Terms of Service, agreements, notices, disclosures, and other communications that we provide to you electronically satisfy any legal requirement that those communications would satisfy if they were on paper. This section does not affect your non-waivable rights.</p>
        <h3 class="mt-5 mb-3">Acceptable Use Policy</h3>
        <h5>Short Version</h5>
        <p>Confirmed is a company hoping to bring transparency and trust to apps and services. We wish to do this without allowing users to abuse other users, so while using our Website and services, you must follow this Acceptable Use Policy, which includes certain restrictions and limitations.</p>
        <h5>Compliance with Laws and Regulations</h5>
        <p>Your use of the Website and/or Service must not violate any applicable laws and regulations, including but not limited to, copyright or trademark laws, export control laws, or other laws and regulations in your jurisdiction. You are responsible for making sure that your use of the Service is in compliance with any applicable laws and regulations.</p>
        <h5>Content Restrictions</h5>
        <p>You agree that you will not under any circumstances upload, post, host, or transmit any content that:</p>
        <p>is unlawful or promotes unlawful activities;</p>
        <p>is libelous, defamatory, or fraudulent;</p>
        <p>is discriminatory or abusive toward any individual or group;</p>
        <p>contains or installs any active malware or exploits, or uses our platform for exploit delivery (such as part of a command and control system); or</p>
        <p>infringes on any proprietary right of any party, including patent, trademark, trade secret, copyright, right of publicity, or other rights.</p>
        <p>Confirmed has an automated anti-abuse system. The anti-abuse rules are based on the public and industry-standard <a href="https://doc.emergingthreats.net" target="_blank">Emerging Threats</a> ruleset, with our services' specific customizations publicly available <a href="https://s3.amazonaws.com/shared-suricatabucket-disep6ow5763" target="_blank">here</a>. To access a specific rule file, simply append the file name that's listed to the same url — for example, the direct link to access the confirmed.rules file is <a href="https://s3.amazonaws.com/shared-suricatabucket-disep6ow5763" target="_blank">here</a>.</p>
        <h5>Conduct Restrictions</h5>
        <p>While using the Website and/or the Service, you agree that you will not under any circumstances:</p>
        <p>harass, abuse, threaten, or incite violence towards any individual or group, including Confirmed employees, officers, and agent;</p>
        <p>use our servers for any form of excessive automated bulk activity (for example, spamming), or relay any other form of unsolicited advertising or solicitation through our servers, such as get-rich-quick schemes;</p>
        <p>attempt to disrupt or tamper with Confirmed servers in ways that could harm our Website or Service, to place undue burden on Confirmed servers through automated means, or to access the Website and/or Service in ways that exceed your authorization (other than access authorized by the Confirmed Bug Bounty program);</p>
        <p>impersonate any person or entity, including any of our employees or representatives, including through false association with Confirmed, or by fraudulently misrepresenting your identity or site's purpose;</p>
        <p>violate the privacy of any third party, such as by posting another person's personal information without consent; or</p>
        <p>perform any act that is unlawful or promotes unlawful activities.</p>
        <h5>Service Usage Limitations</h5>
        <p>Each Account is limited to one individual on up to either three or five devices, depending on your Service plan. After substantial activity, we reserve the right to reasonably throttle the speed of your access to the Service to protect the experience of other users of the Service.</p>
        <h5>Intellectual Property</h5>
        <p>We own the Service, the Website, and all Confirmed products. In order for you to use our content, we give you certain rights to it, but you may only use our Content, Service, and Website in the way we have allowed.</p>
        <h3 class="mt-5 mb-3">Disclaimers</h3>
        <h5>Short Version</h5>
        <p>We provide our Service as is, and we make no promises or guarantees about this Service. We will not be liable for damages or losses arising from your use or inability to use the Service or otherwise arising under this Agreement. You are responsible for your use of the Service. If you harm someone else or get into a dispute with someone else, we will not be involved. Please read this section carefully; it limits our obligations to you and you should understand what to expect.</p>
        <h5>Disclaimer of Warranties</h5>
        <p>Confirmed provides the Website and the Service “as is” and “as available,” without warranty of any kind. Without limiting this, we expressly disclaim all warranties, whether express, implied or statutory, regarding the Website and the Service including, without limitation, any warranty of merchantability, fitness for a particular purpose, title, security, accuracy and non-infringement.</p>
        <p>Confirmed does not warrant that the Service will meet your requirements; that the Service will be uninterrupted, timely, secure, or error-free; that the information provided through the Service is accurate, reliable or correct; that any defects or errors will be corrected; that the Service will be available at any particular time or location; or that the Service is free of viruses or other harmful components. You assume full responsibility and risk of loss resulting from your downloading and/or use of files, information, Content or other material obtained from the Service.</p>
        <h5>Limitation of Liability</h5>
        <p>You understand and agree that we will not be liable to you or any third party for any loss of profits, use, goodwill, or data, or for any incidental, indirect, special, consequential or exemplary damages, however arising, that result from:</p>
        <p>the use, disclosure, or display of any Content;</p>
        <p>your use or inability to use the Service or the Websites;</p>
        <p>any modification, price change, suspension or discontinuance of the Service or the Website;</p>
        <p>the Service generally or the software or systems that make the Service available;
        unauthorized access to or alterations of your transmissions or data when you use the Service;</p>
        <p>statements or conduct of any third party on the Service;</p>
        <p>any other user interactions that you input or receive through your use of the Service; or
        any other matter relating to the Service or the Website.</p>
        <p>Our liability is limited whether or not we have been informed of the possibility of such damages, and even if a remedy set forth in this Agreement is found to have failed of its essential purpose. We will have no liability for any failure or delay due to matters beyond our reasonable control.</p>
        <h5>Release and Indemnification</h5>
        <p>You agree to indemnify us, defend us, and hold us harmless from and against any and all claims, liabilities, and expenses, including attorneys’ fees, arising out of your use of the Website and the Service, including but not limited to your violation of this Agreement, provided that Confirmed (1) promptly gives you written notice of the claim, demand, suit or proceeding; (2) gives you sole control of the defense and settlement of the claim, demand, suit or proceeding (provided that you may not settle any claim, demand, suit or proceeding unless the settlement unconditionally releases Confirmed of all liability); and (3) provides to you all reasonable assistance, at your expense.</p>
        <h5>Governing Law</h5>
        <p>Except to the extent applicable law provides otherwise, this Agreement between you and Confirmed and any access to or use of the Website or the Service are governed by the federal laws of the United States of America and the laws of the State of Delaware, without regard to conflict of law provisions. You and Confirmed agree to submit to the exclusive jurisdiction and venue of the courts located in the State of Delaware.</p>
        <h5>Non-Assignability</h5>
        <p>Confirmed may assign or delegate these Terms of Service, the Agreement, and/or the Privacy Policy, in whole or in part, to any person or entity at any time with or without your consent, including the license grant. You may not assign or delegate any rights or obligations under the Terms of Service, the Agreement, or the Privacy Policy without our prior written consent, and any unauthorized assignment and delegation by you is void.</p>
        <h5>Section Headings and Summaries</h5>
        <p>Throughout this Agreement, each section includes titles and brief summaries of the following terms and conditions. These section titles and brief summaries are not legally binding.</p>
        <h5>Severability</h5>
        <p>If any part of this Agreement is held invalid or unenforceable, that portion of the Agreement will be construed to reflect the parties’ original intent. The remaining portions will remain in full force and effect. Any failure on the part of Confirmed to enforce any provision of this Agreement will not be considered a waiver of our right to enforce such provision. Our rights under this Agreement will survive any termination of this Agreement.</p>
        <h5>Legal Notice to Confirmed Must Be in Writing</h5>
        <p>Communications made through email or other electronic means will not constitute legal notice to Confirmed or any of its officers, employees, agents or representatives in any situation where notice to Confirmed is required by contract or any law or regulation. Legal notice to Confirmed must be in writing and served on our legal agent at the following address:</p>
        <p>Marzouk &amp; Parry</p>
        <p>1901 Pennsylvania Ave., NW</p>
        <p>Washington, DC 20006</p>
        <h3 class="mt-5 mb-3">Amendments</h3>
        <p>We reserve the right, at our sole discretion, to amend these Terms of Service and the Agreement at any time and will update these Terms of Service and the agreement in the event of any such amendments. We will notify our users of material changes to this Terms of Service and the Agreement through e-mail if you have provided one.</p>
        <p>We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Website or the Service (or any part of them) with or without notice.</p>
        <p>The Agreement, including the Terms of Service and the Confirmed Privacy Policy, represent the complete and exclusive statement of the agreement between you and us. This Agreement supersedes any proposal or prior agreement oral or written, and any other communications between you and Confirmed relating to the subject matter of these terms including any confidentiality or nondisclosure agreements.</p>
        <p>If you have any questions or concerns regarding our terms of use, please contact us at <a href="mailto:terms@confirmedvpn.com" target="_blank">terms@confirmedvpn.com</a> and we will respond as quickly as we can.</p>
        <p><strong class="small">The Terms of Use and Privacy Policy are inspired and influenced by those of Github, Inc.</strong></p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 col-12 text-center mt-5 mb-5 pb-5">
        <h1 class="mt-5"><strong>Start a free 1 week trial.</strong></h1>
        <h5 class="text-secondary pt-2" style="line-height: 1.6">Try the only <a href="/openly-operated" style="color: #3498db; font-weight: 700; white-space: nowrap;">Openly Operated</a> way to browse securely and privately.</h5>
        <p class="mt-5 mb-1" style="color: #ddd; font-weight: 700; font-size: 14px;"><strong>DOWNLOAD</strong></p>
        <span class="d-inline-block">
          <a href="/download-mac-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-apple mr-1"></i> Mac
          </a>
          <a href="https://itunes.apple.com/app/apple-store/id1286896061?pt=118815644&ct=ConfirmedWeb&mt=8" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-apple mr-1"></i> iOS
          </a>
        </span>
        <span class="d-inline-block">
          <a href="/download-windows-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-windows mr-1"></i> PC
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.confirmed.tunnels" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-android mr-1"></i> Android
          </a>
        </span>
      </div>
      
    </div>
    
  </div>
  
  
  {{> homepagefooter }}
  
</body>

{{> bootstrapjs}}