{{> header title="Why Use A VPN?" }}
  
<body class="text-center" style="background-color:white;">
  
  {{> nav-loggedout }}
  
  <div class="container">
    
    <div class="row mt-3">
      
      <div class="col-12 mb-2">
        <h1 class="mt-5"><strong>Why Use A VPN?</strong></h1>
      </div>
      
      <div class="col-lg-10 offset-lg-1 mb-5">
        <h5 style="line-height: 1.5;">There's a lot of misinformation online about what a VPN (Virtual Private Network) does and doesn't do, so we describe the real, practical benefits and caveats of a VPN below.</h5>
      </div>
      
      <div class="col-lg-12 mt-0 text-center py-3 px-4">
        <h3 class="mt-2 mb-0" style="color: #000; font-weight: 600;">Main Benefit #1: Privacy</h3>
      </div>
    
      <div class="col-lg-6 text-left px-4 pt-4">
        <div class="row py-3 px-3" style="background-color: #f5f5f5; border-radius: 5px;">
          <div class="col-12 my-2">
            <p class="mt-0 mb-1" style="color: #dd0000; font-size: 19px;">Your IP Uniquely Identifies Your Activity</p>
            <p class="mt-0 mb-2" style="text-align: left; font-size: 16px; font-weight: 400; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              Your device sends your personal IP address to every site and app you use. which records your browsing activity. Unlike the browsing history on your computer, you can't erase the records of your browsing saved on sites. These records may be kept forever, sold to third parties, or used in other ways &#8212; there's no way to know.
            </p>
            <p class="mt-3 mb-1 confirmed-blue" style="font-size: 19px;">A VPN Gives You An Anonymized IP</p>
            <p class="mt-0 mb-2" style="text-align: left; font-size: 16px; font-weight: 400; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              A VPN hides your real IP by being your "middleman" to sites and apps. Instead of directly connecting to sites, you connect through the VPN first, so the IP that sites see is the VPN's IP, not your IP. And because the VPN's IP is used by thousands of others, it's extremely difficult to associate you with activity from the VPN.
            </p>
          </div>
        </div>
      </div>
    
      <div class="col-lg-6 text-left px-4 pt-4">
        <div class="row py-3 px-3" style="background-color: #f5f5f5; border-radius: 5px;">
          <div class="col-12 my-2">
            <p class="mt-0 mb-1" style="color: #dd0000; font-size: 19px;">Your ISP Sells Your Personal Information</p>
            <p class="mt-0 mb-2" style="text-align: left; font-size: 16px; font-weight: 400; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              When you use the internet, you first go through your ISP, so your ISP has an exact record of which websites you've browsed, as well as potentially any sensitive data (health, financial information, etc) sent through them. And if they aren't already, your ISP can and will sell your data, due to recent rollbacks in <a href="https://www.consumerreports.org/consumerist/house-votes-to-allow-internet-service-providers-to-sell-share-your-personal-information/" target="_blank">privacy regulations</a>.
            </p>
            <p class="mt-3 mb-1 confirmed-blue" style="font-size: 19px;">A VPN Encrypts Data Against Your ISP</p>
            <p class="mt-0 mb-2" style="text-align: left; font-size: 16px; font-weight: 400; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              When you use a VPN, instead of going through your ISP first, your device goes through the VPN first. The VPN securely encrypts all the data between you and the app or site you're visiting, so your ISP can't see the websites you've browsed, or the personal information you send and receive through the web.
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-12 mt-5 text-center py-3 px-4">
        <h3 class="mt-2 mb-0" style="color: #000; font-weight: 600;">Main Benefit #2: Security</h3>
      </div>
    
      <div class="col-lg-8 offset-lg-2 text-left px-4 pt-4">
        <div class="row py-3 px-3" style="background-color: #f5f5f5; border-radius: 5px;">
          <div class="col-12 my-2">
            <p class="mt-0 mb-1" style="color: #dd0000; font-size: 19px;">Half of Sites Are Insecure, Public Hotspots Are Unsafe</p>
            <p class="mt-0 mb-2" style="text-align: left; font-size: 16px; font-weight: 400; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              Connecting to hotspots or wifi at places like coffee shops, airports, or even friends' houses can expose your browsing activity and personal data. Because the hotspot is not controlled by you, someone could be silently eavesdropping on the wifi network, or the hotspot itself could be stealing or phishing for data. Over <a href="https://w3techs.com/technologies/details/ce-httpsdefault/all/all" target="_blank">half of websites</a> are still vulnerable to this threat.
            </p>
            <p class="mt-3 mb-1 confirmed-blue" style="font-size: 19px;">A VPN Encrypts Everything You Send And Receive</p>
            <p class="mt-0 mb-2" style="text-align: left; font-size: 16px; font-weight: 400; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              The same encryption used by VPNs to protect against ISPs is used to provide a baseline of protection for data you send and receive on public wifi and hotspots. And even though recently, there have been more sites that use HTTPS encryption to mitigate this threat, only half of all websites are doing this. Plus, HTTPS encryption <a href="https://en.wikipedia.org/wiki/Heartbleed" target="_blank">isn't always a guarantee of security</a>.
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-12 mt-5 text-center py-3 px-4">
        <h3 class="mt-2 mb-0" style="color: #000; font-weight: 600;">Other Benefits</h3>
      </div>
    
      <div class="col-lg-6 text-left px-4 pt-4">
        <div class="row py-3 px-3" style="background-color: #f5f5f5; border-radius: 5px;">
          <div class="col-12 my-2">
            <p class="mt-0 mb-1 confirmed-blue" style="font-size: 19px;">Change Your IP's Location</p>
            <p class="mt-0 mb-2" style="text-align: left; font-size: 16px; font-weight: 400; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              If a website or app doesn't work in the place you live, a VPN allows you to reroute your traffic through a different region of the world. This can allow you to viewing content you might otherwise be missing out on, and sometimes can even get you <a href="https://lifehacker.com/5973689/how-web-sites-vary-prices-based-on-your-information-and-what-you-can-do-about-it" target="_blank">lower prices</a> for your online shopping.
            </p>
          </div>
        </div>
      </div>
    
      <div class="col-lg-6 text-left px-4 pt-4">
        <div class="row py-3 px-3" style="background-color: #f5f5f5; border-radius: 5px;">
          <div class="col-12 my-2">
            <p class="mt-0 mb-1 confirmed-blue" style="font-size: 19px;">Reduce Invasive Tracking</p>
            <p class="mt-0 mb-2" style="text-align: left; font-size: 16px; font-weight: 400; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              Many tracking companies use your IP to follow you online and bombard you with advertisements on different websites. A VPN gives you a different IP, helping to mitigate this creepy behavior &#8212; and is best combined with tracking script blockers for maximum effectiveness.
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-12 mt-5 text-center py-3 px-4">
        <h3 class="mt-2 mb-0" style="color: #000; font-weight: 600;">Caveat: Bad VPNs Are Worse Than No VPN</h3>
      </div>
      
      <div class="col-lg-6 text-left px-4 pt-4">
        <div class="row py-3 px-3" style="background-color: #f5f5f5; border-radius: 5px;">
          <div class="col-12 my-2">
            <p class="mt-0 mb-1" style="color: #dd0000; font-size: 19px;">Poorly Secured VPNs</p>
            <p class="mt-0 mb-2" style="text-align: left; font-size: 16px; font-weight: 400; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              All the security and privacy benefits above depend on your internet traffic going through your VPN first, so if your VPN's servers are not properly secured, then the hackers have direct access to all your browsing and data you transmit. Because it takes time and resources to keep servers updated and patched, a VPN company may prioritize their profits instead of investing in sufficient security.
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6 text-left px-4 pt-4">
        <div class="row py-3 px-3" style="background-color: #f5f5f5; border-radius: 5px;">
          <div class="col-12 my-2">
            <p class="mt-0 mb-1" style="color: #dd0000; font-size: 19px;">Malicious VPNs</p>
            <p class="mt-0 mb-2" style="text-align: left; font-size: 16px; font-weight: 400; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              Ever wonder why sometimes VPNs are free or deeply discounted? No, they're not being super generous and sorry, you didn't "snag an amazing deal". As they say in the industry, "if it's free, then you're the product". Since your internet traffic passes through the VPN, they can and do <a href="https://www.howtogeek.com/342731/dont-use-facebooks-onavo-vpn-its-designed-to-spy-on-you/" target="_blank">spy on you to mine personal data</a>, <a href="https://www.extremetech.com/computing/206858-popular-chrome-vpn-extension-hola-at-center-of-massive-botnet-attack" target="_blank">steal bandwidth for botnets</a>, <a href="https://securitygladiators.com/hotspot-shield-and-cdt/" target="_blank">inject ads into browsing</a>, and more.
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-8 offset-lg-2 text-left px-4 pt-4">
        <div class="row py-3 px-3" style="background-color: #f5f5f5; border-radius: 5px;">
          <div class="col-12 my-2">
            <p class="mt-0 mb-1 confirmed-blue" style="color: #dd0000; font-size: 19px;">How To Choose A VPN You Can Trust</p>
            <p class="mt-0 mb-2" style="text-align: left; font-size: 16px; font-weight: 400; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              You can't just pick an expensive VPN and assume they're good &#8212; an expensive VPN just means they're taking more of your money. You also can't just pick a VPN with a "good Privacy Policy", because companies lie on their Privacy Policies, know full well that nobody actually enforces Privacy Policies to ensure they're abiding by them. Worse, many companies are offshore, outside of any kind of consumer protections.<br/><br/>
              The problem with VPNs and apps in general are that they're black boxes, meaning that nobody has any idea what the company is <i>actually</i> doing on the servers and behind the scenes, other than the VPN company itself. So at Confirmed, we came up with a standard for companies to <i>earn your trust through transparency</i>, called <a href="/openly-operated">Openly Operated&#8482;</a> &#8212; it's a set of seven requirements that allow the public and experts to evaluate the trustworthiness of apps. <a href="/openly-operated">Learn more</a>.
            </p>
          </div>
        </div>
      </div>
      
      
      <div class="col-lg-10 offset-lg-1 col-12 text-center mt-5 mb-5 pb-5">
        <h1 class="mt-5"><strong>Start a free 1 week trial.</strong></h1>
        <h5 class="text-secondary pt-2" style="line-height: 1.6">Try the only <a href="/openly-operated" style="color: #3498db; font-weight: 700; white-space: nowrap;">Openly Operated&#8482;</a> way to browse securely and privately.</h5>
        <p class="mt-5 mb-1" style="color: #ddd; font-weight: 700; font-size: 14px;"><strong>DOWNLOAD</strong></p>
        <span class="d-inline-block">
          <a href="/download-mac-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-apple mr-1"></i> Mac
          </a>
          <a href="https://itunes.apple.com/app/apple-store/id1286896061?pt=118815644&ct=ConfirmedWeb&mt=8" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-apple mr-1"></i> iOS
          </a>
        </span>
        <span class="d-inline-block">
          <a href="/download-windows-app" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-windows mr-1"></i> PC
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.confirmed.tunnels" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="width: 140px;">
            <i class="fa fa-android mr-1"></i> Android
          </a>
        </span>
      </div>
      
    </div>
    
  </div>
  
  {{> homepagefooter }}
  
</body>

{{> bootstrapjs}}